﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}

<script src="~/Scripts/angular.js"></script>

<div id="main" data-ng-app="BrokerApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Admin</li>
            <li>Approve Broker</li>
        </ol>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="BrokerController">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-building fa-fw "></i>Approve Broker Property</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            </div>
        </div>

        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-init="ApprovePaymentBrokerInit()">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>Broker Payment Wizard</h2>
                        </header>
                        <!-- widget div-->
                        <div id="dvSearch">
                            <div class="widget-body fuelux">
                                <div class="form-horizontal" id="fuelux-wizard">
                                    <!-- step1 -->
                                    <div id="bootstrap-wizard-1" class="col-sm-12 top_padding">
                                        <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                            <header>
                                                <span class="widget-icon"><i class="fa fa-building"></i></span>
                                                <h2>Search Property</h2>
                                            </header>
                                            <!-- end widget edit box -->
                                            <!-- widget content -->
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-md-2">Broker Name:</div>
                                                    <div class="col-md-5 input">
                                                        <select name="BrokerName" class="form-control" id="BrokerName">
                                                            <option value="0">All</option>
                                                            <option data-ng-repeat="br in BrokerList" value="{{br.BrokerID}}">{{br.BrokerName}}</option>
                                                        </select>
                                                        <br />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input type="submit" value="Search" data-ng-click="SearchPropertyForBroker()" class="btn btn-primary" id="Srch1" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="dvStep">
                            <!-- widget content -->
                            <div class="widget-body fuelux">
                                <div class="step-content">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <div class="form-content">
                                            <fieldset>



                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Property:</b><br />
                                                        <select name="PropertyID" data-ng-change="PropertyName()" data-ng-model="newCust.PropertyID" id="PropertyID" class="form-control">
                                                            <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Search By:</b><br />
                                                        <input type="hidden" id="protypename" name="protypename">


                                                        <input type="text" id="searchtext" name="searchtext" class="form-control">
                                                    </div>

                                                    <div class="col-md-4">
                                                        <br />
                                                        <input type="submit" value="Search" data-ng-click="SearchProperty()" class="btn btn-primary" />

                                                    </div>
                                                </div>




                                                <div class="row">


                                                    <div class="col-md-4">
                                                        <b>Status:</b><br />
                                                        <select id="StatusSr" name="StatusSr" class="form-control">
                                                            <option value="All">All</option>
                                                            <option value="Pending">Pending</option>
                                                            <option value="Approved">Approved</option>
                                                            <option value="Cancled">Cancled</option>
                                                        </select>
                                                    </div>
                                                    @* <div class="col-md-2">
                                                        <a href="#" class="btn btn-primary" title="Search" data-ng-click="ApprovePaymentSearch()"><i class="fa fa-search"></i>View</a>
                                                    </div>*@
                                                </div>



                                                <input type="hidden" id="hidBrokerID" name="hidBrokerID" value="@ViewBag.ID" />
                                                <input type="hidden" id="hidBroerToPropertyID" name="hidBroerToPropertyID" value="0" />

                                                <h2>Approve Broker Property</h2>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        @*<th data-ng-click="reverse=!reverse;orderBrokerPropertyList('DateSt', reverse)" class="pointer" style="display:none">Attach Date <i class="fa fa-sort-down"></i></th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('BrokerName', reverse)" class="pointer" style="display:none">Broker Name <i class="fa fa-sort-down"></i></th>*@
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('PropertyName', reverse)" class="pointer">Property Name <i class="fa fa-sort-down"></i></th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('BrokerAmount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i></th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('BrokerAmount', reverse)" class="pointer">Saledate <i class="fa fa-sort-down"></i></th>
                                                                        <th data-ng-click="reverse=!reverse;orderBrokerPropertyList('Status', reverse)" class="pointer">Status <i class="fa fa-sort-down"></i></th>
                                                                        <th><b>Remarks</b></th>
                                                                        <th><b>Action</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in BrokerPropertyList">
                                                                        @*  <td>{{sr.DateSt}}</td>
                                                                        <td>{{sr.BrokerName}}</td>*@
                                                                        <td>{{sr.FlatName}}</td>
                                                                        <td>{{sr.SaleRate}}</td>
                                                                        <td>{{sr.BookingDateSt}}</td>
                                                                        <td>{{sr.propertySatuts}}</td>
                                                                        <td>{{sr.Remarks}}</td>
                                                                        <td>
                                                                            <a href="#" data-ng-click="UpdateStatus('Approved',sr.SaleID)" title="Pay To Broker" class="btn btn-xs btn-success btn-sm"><i class="fa fa-rupee"></i>Approve</a>
                                                                            <a href="#" data-ng-click="UpdateStatus('Cancled',sr.SaleID)" title="Pay to Broker" class="btn btn-xs btn-warning btn-sm"><i class="fa fa-remove"></i>Cancel</a>
                                                                            <a target="_blank" href="/Home/Summary/{{sr.SaleID}}" title="Summary" class="btn btn-xs btn-success btn-sm"><i class="fa fa-database"></i>Summary </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>

                                                                        <td><b>Total</b></td>
                                                                        <td><b>{{TotalAmount}}</b></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                       
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            @*<table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th><b>PayDate</b></th>
                                                                        <th><b>Property Name</b></th>
                                                                        <th><b>Amount</b></th>
                                                                        <th><b>PaymentMode</b></th>
                                                                        <th><b>ChequeNo</b></th>
                                                                        <th><b>ChequeDate</b></th>
                                                                        <th><b>Bank</b></th>
                                                                        <th><b>Branch</b></th>
                                                                        <th><b>Status</b></th>
                                                                        <th><b>Remarks</b></th>
                                                                        <th><b>Action</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in BrokerPaidList">
                                                                        <td>{{sr.PaymentDateSt}}</td>
                                                                        <td>{{sr.PropertyName}}</td>
                                                                        <td>{{sr.AmountPaid}}</td>
                                                                        <td>{{sr.PaymentMode}}</td>
                                                                        <td>{{sr.ChequeNo}}</td>
                                                                        <td>{{sr.ChequeDateSt}}</td>
                                                                        <td>{{sr.BankName}}</td>
                                                                        <td>{{sr.BankBranch}}</td>
                                                                        <td>{{sr.Status}}</td>
                                                                        <td>{{sr.Remarks}}</td>
                                                                       
                                                                    </tr>
                                                                    <tr><td></td><td><b>Total</b></td><td><b>{{TotalAmountPaid}}</b></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                                                </tbody>
                                                            </table>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
    <script src="~/Scripts/ngController/Brokerjs.js"></script>
</div>

