﻿@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Content/js/jquery-1.7.2.min.js"></script>
<script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
<script src="~/Scripts/ngController/Brokerjs.js"></script>
<link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
<div id="main" data-ng-app="BrokerApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Admin</li>
            <li>Edit Broker</li>
        </ol>
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="BrokerController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-building fa-fw "></i>Edit Broker Profile</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            </div>
        </div>
        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-click="EditBrokerInit()">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>Edit Broker Wizard</h2>
                            <input type="hidden" id="hidBID" name="hidBID"  value="@ViewBag.ID"/>
                        </header>
                        <!-- widget div-->
                        <div class="row">
                            <div class="col-md-6">
                                <b>Name of Broker:</b><br />
                                <input type="text" name="BName" id="BName" data-ng-model="Broker.BrokerName" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <b>Pan No:</b><br />
                                <input type="text" name="propertyname" id="propertyname" data-ng-model="Broker.PanNo" class="form-control" />
                            </div>
                            @*</div>
                                <div class="row">*@
                            <div class="col-md-6">
                                <b>Address 1:</b><br />
                                <input type="text" name="BName" id="BName" data-ng-model="Broker.Address1" class="form-control" />
                            </div>
                            <div class="col-md-6">
                                <b>Address 2:</b><br />
                                <input type="text" name="propertyname" id="propertyname" data-ng-model="Broker.Address2" class="form-control" />
                            </div>
                            @*</div>*@
                            @*<div class="row">*@
                            <div class="col-md-6">
                                <b>Mobile:</b><br />
                                <input type="text" name="BName" id="BName" data-ng-model="Broker.MobileNo" class="form-control" />
                            </div>
                            @*</div>
                                <div class="row">*@
                            <div class="col-md-offset-6 col-md-6">
                                <input type="button" class="btn btn-primary" data-ng-click="SaveBroker()" value="Save" />
                                <br /><br />
                            </div>
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->

</div>