﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}
<link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
<div id="main" data-ng-app="DocApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <span class="ribbon-button-alignment">
        </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Customer</li>
            <li> Property</li>
            <li>Agreement</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="DocumentController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-folder-open fa-fw "></i>Property  Agreement</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            </div>
        </div>
        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-init="GenDocInit()">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>Property Agreement Wizard </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget content -->
                            <div id="dvSearch">
                                <div class="widget-body fuelux">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <!-- step1 -->
                                        <div id="bootstrap-wizard-1" class="col-sm-12 top_padding">
                                            <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                <header>
                                                    <span class="widget-icon"><i class="fa fa-building"></i></span>
                                                    <h2>Search Property</h2>
                                                </header>
                                                <!-- end widget edit box -->
                                                <!-- widget content -->
                                                <div class="widget-body">
                                                    <div class="row">
                                                        <div class="col-md-2"></div>
                                                        <div class="col-md-3">
                                                            <b>Search By Property:</b><br />
                                                            <select name="PropertyID" class="form-control" id="PropertyID">
                                                                <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <b>Property Name</b><br />
                                                            <input type="text" name="propertyname" id="propertyname" class="form-control" />
                                                        </div>
                                                        <div class="col-md-1">
                                                            <br />
                                                            <input type="submit" value="Search" data-ng-click="SearchPropertyForGenAgreement()" class="btn btn-primary" id="Srch1" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="dvStep">
                                <div class="widget-body fuelux">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <!-- step1 -->
                                        <div id="bootstrap-wizard-1" class="col-sm-12 top_padding">
                                            <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                <header>
                                                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                    <h2>Flat Detail </h2>
                                                </header>
                                                <!-- widget div-->
                                                <div>
                                                    <!-- end widget edit box -->
                                                    <!-- widget content -->
                                                    <div class="widget-body">
                                                        <div class="row">
                                                            <div class="col col-sm-12">
                                                                <p class="text-danger text-center">{{Error}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6 smart-form">
                                                                <div id="comment-form" class="smart-form">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-md-offset-1 col-md-3">
                                                                                <b>Current Customer </b><br />
                                                                                Name
                                                                            </div>
                                                                            <div class="col-md-7">
                                                                                <br />
                                                                                {{Sale.Sale[0].CustomerName}}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-offset-1 col-md-3">
                                                                                Plan Name
                                                                            </div>
                                                                            <div class="col-md-7">
                                                                                {{Pro.PlanName}}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-offset-1 col-md-3">Sale Price:</div>
                                                                            <div class="col-md-7">{{Sale.Sale[0].SaleRate}}</div>
                                                                        </div>
                                                                        <div id="dvAgreement">
                                                                            <div class="row">
                                                                                <div class="col-md-offset-1 col-md-3">Agreement Type:</div>
                                                                                <div class="col-md-7">{{Agreement.AgreementAmount}}</div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-offset-1 col-md-3">Agreement Date:</div>
                                                                                <div class="col-md-7">{{Agreement.CrDateSt}}</div>
                                                                            </div>
                                                                          
                                                                            <div class="row">
                                                                                <div class="col-md-offset-1 col-md-3">Agreement Link :</div>
                                                                                <div class="col-md-7">
                                                                                    <a href="../../../{{Agreement.HTMLURL}}" target="_blank" class="text-info"><i class="fa fa-html5"></i> Download HTML Agreement</a><br />
                                                                                    <a href="../../../{{Agreement.DocURL}}" target="_blank" class="text-info"><i class="fa fa-file-word-o"></i> Download Doc Agreement</a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-offset-1 col-md-3"> Upload Date:</div>
                                                                                <div class="col-md-7">{{Agreement.UploadDateSt}}</div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-offset-1 col-md-3"> Uploaded Doc:</div>
                                                                                <div class="col-md-7"><a href="../../../{{Agreement.UploadURL}}" target="_blank" class="text-info"><i class="fa fa-file-word-o"></i> Download Uploaded Agreement</a></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <b>Assured Return Agreement:</b>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-offset-1  col-md-3"></div>
                                                                                <div class="col-md-7">
                                                                                    <a href="../../../{{Agreement.AssuredHTMLURL}}" target="_blank" class="text-info"><i class="fa fa-html5"></i> Download HTML File</a><br />
                                                                                   <a href="../../../{{Agreement.AssuredDocURL}}" target="_blank" class="text-info"><i class="fa fa-file-word-o"></i> Download Doc File </a></div>
                                                                            </div>
                                                                        </div>
                                                                        <div id="dvGenrate">
                                                                            <div class="row">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Agreement Type</label>
                                                                                </div>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="select">
                                                                                        <select name="AgreementType" data-ng-model="AgreementType" id="AgreementType" required="required">
                                                                                            <option value="500">500</option>
                                                                                            <option value="100">100</option>
                                                                                            <option value="50">50</option>
                                                                                        </select>
                                                                                        <input type="hidden" id="hidPlanType" name="hidPlanType" />
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Agreement Date</label>
                                                                                </div>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="input">
                                                                                        <input type="text" id="AgDate" data-ng-model="AgDate" class="datecal" required="required">
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="input">
                                                                                        <a href="#" class="btn btn-success btn-lg" title="Generate Agreement" data-ng-click="GenerateAgreement()"><i class="fa fa-cogs"></i>     Generate Agreement</a><br /><br />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div> 
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div id="comment-form" class="smart-form">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <section class="col col-sm-12">
                                                                                <label class="label"><b>Property Info</b></label>
                                                                                <label class="lable">
                                                                                    <input type="hidden" data-ng-model="newCust.SaleID" id="SaleId" name="SaleId" value="@ViewBag.ID" />
                                                                                    {{Pro.PropertyName}}<br />
                                                                                    {{Pro.PropertyType}} {{Pro.PropertySize}}<br />
                                                                                </label>
                                                                                <label class="label"><b>Property Name</b> {{Pro.FlatName}}</label>
                                                                            </section>
                                                                            <section class="col col-sm-12">
                                                                                <input type="radio" name="rbtntype" id="rbtntypeemail" value="Send Email"  checked/> Send Email &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                <input type="radio" name="rbtntype" id="rbtntypedownload" value="Download" /> Download<br />
                                                                                <input type="email" name="Email" id="Email" class="form-control" />
                                                                            </section>
                                                                            <section class="col col-sm-12">
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <a href="#" class="btn btn-primary  btn-lg" title="Get Agreement" data-ng-click="DownloadAgreement()"><i class="fa fa-download"></i> Get Agreement</a><br />
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                    </div>
                                                                                    </div><br />
                                                                                <div class="row">
                                                                                    <div class="col-md-6">
                                                                                        <a href="#" class="btn btn-success  btn-lg" title="Get Welcome Letter" data-ng-click="DownloadWelcome()"><i class="fa fa-download"></i> Welcome Letter</a><br />
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                        <a href="#" class="btn btn-info  btn-lg" title="Get Allotment Letter" data-ng-click="DownloadAllotment()"><i class="fa fa-download"></i> Allotment Letter</a><br />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <br />
                                                                                    <div class="col-md-6">
                                                                                    </div>
                                                                                    <div class="col-md-6">
                                                                                    </div>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </fieldset>
                                                                    <div class="message">
                                                                        <i class="fa fa-check fa-lg"></i>
                                                                        <p>
                                                                            Your comment was successfully added!
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end widget content -->
                                                </div>
                                                <!-- end widget div -->
                                            </div>
                                        </div>
                                        <!-- step1 -->
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/ngController/Documentjs.js"></script>
<script src="~/Content/js/jquery-1.7.2.min.js"></script>
<script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".datecal").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1970:2099',
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
