﻿@model Comax.Web.Models.tblSProperty
@{
    ViewBag.Title = "AddProperty";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}
<script src="~/Scripts/angular.js"></script>
@*<script src="~/Scripts/CredoScript/MainScrip.js"></script>*@
<script src="~/Scripts/CredoScript/Property.js"></script>
<div id="main" data-ng-app="CredoApp" role="main">

    <!-- RIBBON -->
    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="
                <i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="PropertyController">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i>Admin </h1>
            </div>
        </div>

        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header>
                            <h2>Property Wizard </h2>
                        </header>

                        <!-- widget div-->
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body fuelux">


                            <div class="step-content">
                                <div class="form-horizontal" id="fuelux-wizard">

                                    <div class="step-pane active" id="step1">

                                        <!-- step1 -->
                                        <div id="bootstrap-wizard-1" class="col-sm-12 top_padding">

                                            <div class="tab-content">


                                                <!-- tab -->
                                                <div class="tab-pane active" id="tab1">

                                                    <!-- 1 -->

                                                    <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                        <header>
                                                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                            <h2>View Property  Details</h2>
                                                        </header>

                                                        <!-- widget div-->
                                                        <div>
                                                            <!-- widget edit box -->
                                                            <div class="jarviswidget-editbox">
                                                                <!-- This area used as dropdown edit box -->

                                                            </div>
                                                            <!-- end widget edit box -->
                                                            <!-- widget content -->
                                                            <div class="widget-body no-padding">

                                                                <div class="row">
                                                                    <div class="col-sm-12 smart-form">
                                                                        <div id="comment-form" class="smart-form">
                                                                            <fieldset>
                                                                                <div class="row">
                                                                                    <div class="col-md-1"></div>
                                                                                    <div class="col-md-10">


                                                                                        <div class="row">
                                                                                            <div class="col-md-2">Property ID</div>
                                                                                            <div class="col-md-5"><b>@Model.PID</b></div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">Property Name</div>
                                                                                            <div class="col-md-5"><b>(@Model.ReceiptPrefix) @Model.PName</b></div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">No of Blocks</div>
                                                                                            <div class="col-md-5"><b> @Model.NofBlock</b></div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">Company Name</div>
                                                                                            <div class="col-md-5"><b>@Model.CompanyName</b></div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">Location</div>
                                                                                            <div class="col-md-5"><b>@Model.Location</b></div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">Address</div>
                                                                                            <div class="col-md-5"><b>@Model.Address</b></div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-2">Office Address</div>
                                                                                            <div class="col-md-5">
                                                                                                <b>
                                                                                                    @Model.OfficeAddress <br />
                                                                                                Village: @Model.Village, Block: @Model.Tehsil, District: @Model.District
                                                                                            </b>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-md-2">Jurisdiction</div>
                                                                                        <div class="col-md-5"><b>@Model.Jurisdiction</b></div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-md-2">Execution</div>
                                                                                        <div class="col-md-5">@Model.execution</div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-md-2">SMC Receipt No</div>
                                                                                        <div class="col-md-5">@Model.smcreceiptno</div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-md-2">Is Block</div>
                                                                                        <div class="col-md-5"><b>@Model.IsBlock</b></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        </fieldset>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- end widget content -->

                                                        </div>
                                                        <!-- end widget div -->

                                                    </div>

                                                </div>

                                                <!-- tab -->




                                            </div>
                                        </div>
                                        <!-- step1 -->


                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
            </div>
        </section>
    </div>


</div>