﻿@model IEnumerable<Comax.Web.Models.tblSProperty>
@using GridMvc.Html
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}

}

<link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />


<div id="main" data-ng-app="APropertyApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">


        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Admin </li>
            <li>View Property Projects</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="APropertyController">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-building"></i> View Property Project List</h1>
            </div>
            

        </div>

        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-init="PropertyInit()">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header>
                            <h2>Property Wizard </h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget content -->
                            <div class="widget-body fuelux">
                                <div class="step-content">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <div class="form-content">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped particular_tbl">
                                                            <thead>
                                                                <tr>
                                                                    <th data-ng-click="reverse=!reverse;orderMyProperties('PName', reverse)" class="pointer">Name <i class="fa fa-sort-down"></i> </th>
                                                                    <th data-ng-click="reverse=!reverse;orderMyProperties('ReceiptPrefix', reverse)" class="pointer">Short Name <i class="fa fa-sort-down"></i> </th>
                                                                    <th><b>Company</b></th>
                                                                    <th><b>Location</b></th>
                                                                    <th><b>Action</b></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr data-ng-repeat="pr in MyProperties">
                                                                    <td>{{pr.PName}}</td>
                                                                    <td>{{pr.ReceiptPrefix}}</td>
                                                                    <td>{{pr.CompanyName}}</td>
                                                                    <td>{{pr.Location}}</td>
                                                                    <td>
                                                                        <a target="_blank" href="/Admin/Property/Details/{{pr.PID}}" title="View" class="btn btn-xs btn-info btn-sm"><i class="fa fc-agenda-slots"></i> View</a>
                                                                        <a target="_blank" href="/Admin/Property/AddPropertyType/{{pr.PID}}" title=" add property type" class="btn btn-xs btn-info btn-sm"><i class="fa fc-agenda-slots"></i> Add Property Typ</a>
                                                                        <a target="_blank" href="/Admin/Property/edit/{{pr.PID}}" title=" edit property details" class="btn btn-xs btn-info btn-sm"><i class="fa fc-agenda-slots"></i> Edit</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            @*}*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ngController/Adminjs2.js"></script>
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
</div>
