﻿
@{
    ViewBag.Title = "OtherPayments";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}


<script src="~/Scripts/angular.js"></script>

<div id="main" data-ng-app="PaymentApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">

        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="
                <i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="PaymentController">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-rupee"></i> Submit Other Payment </h1>
            </div>

        </div>

        <!-- widget grid -->
        <section id="widget-grid" class="">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header>
                            <h2>Payment Wizard </h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body fuelux">
                                <div class="step-content">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-1 col-md-offset-1">Property</div>
                                                <div class="col-md-2">

                                                    <label class="select">
                                                        <select name="newCust.PropertyID" class="form-control" data-ng-model="PropertyID" id="PropertyID" required>
                                                            <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                        </select>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">Property Name</div>
                                                <div class="col-md-3">
                                                    <label class="input">
                                                        <input type="text" class="form-control" id="FlatID" name="FlatID" data-ng-model="Flat.flatname" />
                                                    </label>
                                                </div>
                                                <div class="col-md-1">
                                                    <a class="btn btn-primary" data-ng-click="SearchFlat()">
                                                        <i class="fa fa-search"></i> Search
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="message">
                                                    <p>
                                                        <center id="Error">{{ Error}}  {{ Message }}</center>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="step-pane active" id="step3">
                                            <div class="jarviswidget wdgt_marg" data-widget-editbutton="false" data-widget-custombutton="false">
                                                <header>
                                                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                    <h2>Property Detail</h2>
                                                </header>
                                                <!-- widget div-->
                                                <div>
                                                    <!-- widget edit box -->
                                                    <div class="jarviswidget-editbox">
                                                        <!-- This area used as dropdown edit box -->
                                                    </div>
                                                    <!-- end widget edit box -->
                                                    <!-- widget content -->
                                                    <div class="widget-body no-padding">

                                                        <div id="flatdetail" class="row">
                                                            <div class="col-sm-6 smart-form">
                                                                <div id="comment-form" class="smart-form">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-sm-10">
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-bordered table-striped particular_tbl">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>Payment Type</th>
                                                                                                <th>Total Amount Charged</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>Service Tax</td>
                                                                                                <td>{{STTotalAmount}}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>Late Payment</td>
                                                                                                <td>{{LPTotalAmount}}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>Transfer Fee</td>
                                                                                                <td>{{TFTotalAmount}}</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>Clearance Charges</td>
                                                                                                <td>{{CCTotalAmount}}</td>
                                                                                            </tr>

                                                                                        </tbody>

                                                                                    </table>
                                                                                </div>
                                                                                
                                                                            </div>
                                                                        </div>

                                                                    </fieldset>

                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div id="comment-form" class="smart-form">

                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-sm-7">
                                                                                <div class="hm_content_sec_top">
                                                                                    <input type="hidden" id="SaleID" value="{{Sale.Sale[0].SaleID}}" />
                                                                                    <input type="hidden" id="FlatName" name="FlatName" value="{{Flat.Result[0].FlatName}}" />
                                                                                    <ul>
                                                                                        <li>Property Name:</li>
                                                                                        <li id="FlatName">{{Flat.Result[0].FlatName}} </li>

                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Customer Name:</li>
                                                                                        <li id="CustomeName"> {{CustomerName}}</li>
                                                                                    </ul>
                                                                                    <input type="hidden" id="hidCustomerName" value="{{CustomerName}}" name="hidCustomerName" />
                                                                                    <input type="hidden" id="hidCustomerID" value="{{Customer.CustomerID}}" name="hidCustomerID" />

                                                                                    <ul>
                                                                                        <li>Sale Price</li>
                                                                                        <li><span id="SalePrice">{{ Sale.Sale[0].SaleRate}}</span></li>
                                                                                    </ul>
                                                                                   
                                                                                    <ul>
                                                                                        <li>Received Amount:</li>
                                                                                        <li><span id="PaidAmount">{{ Amount.TotalPaid }}</span></li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Balance Amount:</li>
                                                                                        <li><span id="Balance">{{ Sale.Sale[0].SaleRate-  Amount.TotalPaid}}</span></li>
                                                                                    </ul>
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>

                                                                    <div class="message">
                                                                        <i class="fa fa-check fa-lg"></i>
                                                                        <p>
                                                                            Your comment was successfully added!
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>

                                                <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">

                                                    <header>
                                                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                        <h2>Payments</h2>
                                                    </header>

                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <div class="widget-body no-padding">

                                                            <div class="row">
                                                                <div class="col-sm-6 smart-form">
                                                                    <div id="comment-form" class="smart-form">
                                                                        <fieldset>
                                                                            <div class="row">
                                                                                <section class="col col-sm-12">
                                                                                    <label class="label">Payment Type</label>
                                                                                    <label class="select">
                                                                                        <select id="ddlPayment" data-ng-model="PaymentFor" data-ng-change="OtherPaymentChange2(PaymentFor)">
                                                                                            <option data-ng-repeat="pay in PaymentMaster" value="{{pay.PaymentMasterID}}">{{pay.Name}}</option>
                                                                                        </select>
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-4 col">
                                                                                    <label class="label">Payment Date </label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="paymentDate" data-ng-model="PayDate" class="datecal" required="required" />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Payment Mode</label>
                                                                                </div>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="select">
                                                                                        <select id="PaymentMode" name="budget" data-ng-model="PaymentMode" onchange="PaymentModeChange(this)">
                                                                                            <option value="Cash" selected="selected">Cash</option>
                                                                                            <option value="Cheque">Cheque</option>
                                                                                            <option value="DD">DD</option>
                                                                                            <option value="RTGS">RTGS</option>
                                                                                            <option value="Bank Transfer">Bank Transfer</option>
                                                                                            <option value="NEFT">NEFT</option>
                                                                                            <option value="Transfer Entry">Transfer Entry</option>
                                                                                        </select>
                                                                                        <i></i>
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                            <div class="row" id="divCheque" style="display: none">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Cheque No.</label>
                                                                                    <label class="input">
                                                                                        <input id="ChequeNo" data-ng-model="ChequeNo" type="text" />
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Cheque Date</label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="chequeDate" data-ng-model="ChequeDate" class="datecal" />
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-sm-8 col">
                                                                                    <label class="label">Bank Name</label>
                                                                                    <label class="select">
                                                                                        <select id="BankName" name="BankName" data-ng-model="BankName">
                                                                                            <option data-ng-repeat="bk in Banks" value="{{ bk.BankID }}">{{ bk.BankName }}</option>
                                                                                        </select>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Bank Branch</label>
                                                                                    <label class="input">
                                                                                        <input type="text" data-ng-model="BankBranch" id="BankBranch" />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="checkbox-inline2 checkbox-inline3">
                                                                                        <input class="checkbox style-0" data-ng-model="chkPrint" type="checkbox" id="chkPrint">
                                                                                        <span>Print Receipt</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <section class="col col-sm-12">
                                                                                    <label class="input col-sm-4 checkbox-marg">
                                                                                        <input type="text" data-ng-model="SenderEmail" name="name" id="txtSendEmail" placeholder="">
                                                                                    </label>

                                                                                    <label class="checkbox-inline2 checkbox-inline4 col-sm-8">
                                                                                        <input class="checkbox style-0" data-ng-model="chkSendEmail" id="chkSendEmail" type="checkbox">
                                                                                        <span>Send Email</span>
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div id="comment-form" class="smart-form">

                                                                        <fieldset>
                                                                            <div class="row">
                                                                                <section class="col col-sm-12">
                                                                                    <label class="label">Amount Received</label>
                                                                                    <label class="input">
                                                                                        <input onblur="inWords(this.value)" data-ng-model="ReceiveAmount" value="{{ReceiveAmount}}" type="text" id="ReceivedAmount">
                                                                                    </label>
                                                                                </section>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="label">Amount Received (IN Words)</label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="PaymentAmountInWords" data-ng-model="ReceiveAmountWord" value="{{ReceiveAmountWord}}" name="PaymentAmountInWords">
                                                                                    </label>
                                                                                </section>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="label">Remarks</label>
                                                                                    <label class="input">
                                                                                        <textarea id="Remarks" data-ng-maxlength="Remarks" class="form-control" placeholder="" rows="3"></textarea>
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-actions frm-marg">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <button id="btnSubmitPayment" class="btn btn-primary pull-left disabled" data-ng-click="SaveOtherPayment()">
                                                                            <i class="fa fa-save"></i>
                                                                            Save
                                                                        </button>
                                                                        <button class="btn btn-default pull-left btn_marg" type="submit">Cancel</button>
                                                                    </div>

                                                                </div>

                                                            </div>

                                                        </div>
                                                        <!-- end widget content -->
                                                    </div>
                                                    <!-- end widget div -->
                                                </div>


                                                <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                    <header>
                                                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                        <div class="pull-right"><b>Total Installment Paid:<i class="fa fa-rupee"></i> <span>{{ Amount.TotalPaid }} </span></b></div>
                                                        <h2 id="paymenthead">Payments Details</h2>
                                                    </header>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4>Amount Charged</h4>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table id="tblST" class="table table-bordered table-striped particular_tbl">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th><b>PaymentDate</b></th>
                                                                                            <th><b>Amount</b></th>
                                                                                            <th><b>InstallmentNo</b></th>
                                                                                            <th><b>ReceiptNo</b></th>
                                                                                            <th><b>Service Tax</b></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-ng-repeat="ins in STPayment">
                                                                                            <td>{{ ins.PaymentDateSt}}</td>
                                                                                            <td>{{ ins.Amount}}</td>
                                                                                            <td>{{ ins.InstallmentNo}}</td>
                                                                                            <td>{{ ins.PaymentNo}}</td>
                                                                                            <td>{{ ins.ServiceTaxAmount}}</td>
                                                                                        </tr>
                                                                                        <tr><td><b>Total</b></td><td><b>{{STTotalAmount}}</b></td><td></td><td></td><td><b>{{STTotalServiceTaxAmount }}</b></td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table id="tblLP" class="table table-bordered table-striped particular_tbl">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th><b>Date</b></th>
                                                                                            <th><b>InstallmentNo</b></th>
                                                                                            <th><b>Due Date</b></th>
                                                                                            <th><b>Receive Amount</b></th>
                                                                                            <th><b>Interest Amount</b></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-ng-repeat="ins in LPPayment">
                                                                                            <td>{{ ins.CrDateSt}}</td>
                                                                                            <td>{{ ins.InstallmentNo}}</td>
                                                                                            <td>{{ ins.DueDateSt}}</td>
                                                                                            <td>{{ ins.ReceiveAmount}}</td>
                                                                                            <td>{{ ins.InterestAmount}}</td>
                                                                                        </tr>
                                                                                        <tr><td></td><td></td><td><b>Total</b></td><td><b>{{LPTotalAmount}}</b></td><td><b>{{LPTotalInterestAmount}}</b></td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table id="tblTF" class="table table-bordered table-striped particular_tbl">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th><b>TransferDate</b></th>
                                                                                            <th><b>TransferAmount</b></th>
                                                                                            <th><b>OldPlanType</b></th>
                                                                                            <th><b>NewPlanType</b></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-ng-repeat="ins in TFPayment">
                                                                                            <td>{{ ins.TransferDateSt}}</td>
                                                                                            <td>{{ ins.TransferAmount}}</td>
                                                                                            <td>{{ ins.OldPlanType}}</td>
                                                                                            <td>{{ ins.NewPlanType}}</td>
                                                                                        </tr>
                                                                                        <tr><td><b>Total</b></td><td><b>{{TFTotalAmount}}</b></td><td></td><td></td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table id="tblCC" class="table table-bordered table-striped particular_tbl">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th><b>PaymentDate</b></th>
                                                                                            <th><b>Amount</b></th>
                                                                                            <th><b>InstallmentNo</b></th>
                                                                                            <th><b>ReceiptNo</b></th>
                                                                                            <th><b>ClearanceCharge</b></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-ng-repeat="ins in CCPayment">
                                                                                            <td>{{ ins.PaymentDateSt}}</td>
                                                                                            <td>{{ ins.Amount}}</td>
                                                                                            <td>{{ ins.InstallmentNo}}</td>
                                                                                            <td>{{ ins.PaymentNo}}</td>
                                                                                            <td>{{ ins.ClearanceCharge}}</td>
                                                                                        </tr>
                                                                                        <tr><td><b>Total</b></td><td><b>{{CCTotalAmount}}</b></td><td></td><td></td><td><b>{{CCTotalClearanceCharge}}</b></td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div class="table-responsive">
                                                                                <table class="table table-bordered table-striped particular_tbl">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Payment Type</th>
                                                                                            <th>Total Amount Paid</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-ng-repeat="gp in GTotalAmount.GroupPay">
                                                                                            <td>{{gp.PaymentFor}}</td>
                                                                                            <td>{{gp.TAmount}}</td>
                                                                                        </tr>
                                                                                        <tr><td><b>Grant Total</b></td><td><b>{{GrantTotalAmount }}</b></td></tr>
                                                                                    </tbody>

                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <h4>Amount Paid</h4>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-bordered table-striped particular_tbl">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th><b>PaymentDate</b></th>
                                                                                            <th><b>Payment For</b></th>
                                                                                            <th><b>Receipt No</b></th>
                                                                                            <th><b>Amount</b></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-ng-repeat="pay in OPayment">
                                                                                            <td>{{pay.PaymentDateSt}}</td>
                                                                                            <td>{{pay.PaymentFor}}</td>
                                                                                            <td>{{ pay.PaymentNo}}</td>
                                                                                            <td>{{ pay.Amount}}</td>
                                                                                        </tr>
                                                                                        <tr><td></td><td></td><td><b>Total</b></td><td><b>{{OTotalSearchAmount }}</b></td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- WIDGET END -->

            </div>

            <!-- end row -->

        </section>
        <!-- end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->

    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
    <script src="~/Scripts/ngController/Paymentjs.js"></script>
</div>
<script type="text/javascript">
    $(function () {
        $(".datecal").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1970:2099',
            dateFormat:'dd/mm/yy'
        });

    });
    $(document).ready(function () {
        $('#loading').hide();
        $('#btnSubmitPayment').click(function () {
            $('#btnSubmitPayment').hide();
        })
    });
</script>




