﻿@model IEnumerable<Comax.Web.Models.tblSPayment>
@using GridMvc.Html
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}

<script src="~/Scripts/angular.js"></script>

<div id="main" data-ng-app="PaymentApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">

        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="
                <i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Search Payments</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- You can also add more buttons to the
                ribbon for further usability

                Example below:

                <span class="ribbon-button-alignment pull-right">
                <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
                <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
                <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
                </span> -->

    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="PaymentController">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i>Search Installment Payments </h1>
            </div>
        </div>

        <!-- widget grid -->
        <section id="widget-grid" class="">

            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    @*@using (Html.BeginForm("Search", "Payment", null))
                    {*@

                    <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">

                            <header>
                                <h2>Search Installment Payments</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-3">
                                    <b>Search By Property:</b><br />
                                    <select name="newCust.PropertyID" class="form-control" data-ng-change="PropertyName()" data-ng-model="newCust.PropertyID" id="PropertyID">
                                        <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"><b>Property Types</b><br />
                                    <input type="hidden" name="protypename" id="protypename" />
                                    <select name="newCust.PropertyTypeID" class="form-control" data-ng-change="PropertyType()" data-ng-model="newCust.PropertyTypeID" id="PropertyTypeID" required>
                                        <option value="All" selected="selected">All</option>
                                        <option data-ng-repeat="pro in PropertyTypes" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3"><b>Property Size</b><br />
                                    <select name="newCust.PropertySizeID" class="form-control" data-ng-model="newCust.PropertySizeID" id="PropertySizeID">
                                        <option value="All" selected="selected">All</option>
                                        <option data-ng-repeat="pro in PropertySizes.PSizes" value="{{ pro.PropertySizeID }}">{{ pro.Size }}</option>
                                    </select>
                                </div>
                                <div class="col-md-1"><br />
                                    <input type="submit" value="Search" data-ng-click="SearchPayment()" class="btn btn-primary" id="Srch1" />
                                    <input type="hidden" id="search1" name="search1" />
                                </div>
                            </div>
                            <!-- widget div-->
                            <div>

                                <!-- widget content -->
                                <div class="widget-body fuelux">
                                    <div class="step-content">
                                        <div class="form-horizontal" id="fuelux-wizard">
                                            <div class="form-content">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Search By:</b><br />
                                                        <select id="searchby" name="searchby"  class="form-control">
                                                            <option value="All" selected="selected">All</option>
                                                            <option value="ReceiptNo">ReceiptNo</option>
                                                            <option value="FlatName">Property Name</option>
                                                            <option value="Customer Name">Customer Name</option>
                                                            <option value="Cheque No">Cheque No</option>
                                                            <option value="This Month">This Month</option>
                                                            <option value="Last 7 Days">Last 7 Days</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Sort By:</b>
                                                        <select id="sortby" name="sortby" class="form-control">
                                                            <option value="All" selected="selected">All</option>
                                                            <option value="Date">Date</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br />
                                                        <input type="submit" value="Search" data-ng-click="SearchPayment0()" id="Srch2" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                                <div class="row" id="datediv">
                                                    <div class="col-md-4">
                                                        <b>Date From:</b>
                                                        <input type="date" name="datefrom" id="datefrom" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Date To:</b>
                                                        <input type="date" name="dateto" id="dateto" class="form-control" />
                                                    </div>

                                                </div>
                                                <div class="row" id="alldiv">
                                                    <div class="col-md-8">
                                                        <b>Enter Search Query</b><br />
                                                        <input type="text" id="searchtext" name="searchtext" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br />

                                                    </div>
                                                </div>
                                                <input type="hidden" name="hidsortby" id="hidsortby" />
                                               <br /> 
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentDateSt', reverse)" class="pointer">PaymentDate <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentNo', reverse)" class="pointer">ReceiptNo <i class="fa fa-sort-down"></i> </th>
                                                                         <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">@Session["PropertyName"].ToString() <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('CustomerName', reverse)" class="pointer">CustomerName <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('Amount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentStatus', reverse)" class="pointer">Status <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentMode', reverse)" class="pointer">PaymentMode <i class="fa fa-sort-down"></i> </th>
                                                                         <th> <b>Action</b> </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in SearchList">
                                                                        <td>{{sr.PaymentDateSt}}</td>
                                                                        <td>{{sr.PaymentNo}}</td>
                                                                        <td>{{sr.FlatName}}</td>
                                                                        <td>{{sr.CustomerName}}</td>
                                                                        <td>{{sr.Amount}}</td>
                                                                        <td>{{sr.PaymentStatus}}</td>
                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentMode}}</td>
                                                                        <td>
                                                                            <a target="_blank" href="/Payment/Clearance/{{sr.TransactionID}}" title="Payment Clearance" class="btn btn-xs btn-info btn-sm"><i class="fa fc-agenda-slots"></i> Clearance</a>
                                                                            <a target="_blank" href="/Payment/Details/{{sr.TransactionID}}" title="View Payment Details" class="btn btn-xs btn-info btn-sm"><i class="fa fa-eye"></i> </a>
                                                                            <a target="_blank" href="/Payment/Edit/{{sr.TransactionID}}" title="Edit Payment Details" class="btn btn-xs btn-info btn-sm"><i class="fa fa-edit"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr><td></td><td></td><td></td><td><b>Total</b></td><td><b>{{TotalSearchAmount}}</b></td><td></td><td></td></tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                    <!-- end widget -->
                  @*}*@
                </article>
                <!-- WIDGET END -->
            </div>
            <!-- end row -->
        </section>
        <!-- end widget grid -->
    </div>
    <!-- END MAIN CONTENT -->
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
    <script src="~/Scripts/ngController/Paymentjs.js"></script>
</div>
<script>
    $(document).ready(function () {
        $("#datediv").hide();
        $("#alldiv").hide();
        if (localStorage.getItem("searchby") != null) {
            $("#searchby").val(localStorage.getItem("searchby"));
            $("#sortby").val(localStorage.getItem("sortby"));
            $("#datefrom").val(localStorage.getItem("datefrom"));
            $("#dateto").val(localStorage.getItem("dateto"));
            $("#searchtext").val(localStorage.getItem("stext"));

            if (localStorage.getItem("sortby") == "All") {
                $("#datediv").hide();
                if (localStorage.getItem("searchby") == "All") {
                    $("#alldiv").hide();
                }
                else {
                    $("#alldiv").show();
                }
            } else {
                $("#datediv").show();
                if (localStorage.getItem("searchby") == "All") {
                    $("#alldiv").hide();
                }
                else {
                    $("#alldiv").show();
                }
            }
        }
    })
    $("#sortby").change(function () {
        var v = $("#sortby").val();
        var vv = $("#searchby").val();
        var df = $("#datefrom").val();
        var dt = $("#dateto").val();
        var stext = $("#searchtext").val();
        localStorage.setItem("searchby", vv);
        localStorage.setItem("sortby", v);
        localStorage.setItem("datefrom", df);
        localStorage.setItem("dateto", dt);
        localStorage.setItem("stext", stext);

        $("#hidsortby").val(v);
        if (v.toString() == "All") {
            $("#datediv").hide();
            if (vv.toString() != "All") {
                $("#alldiv").show();
            }
        } else {
            $("#datediv").show();
            if (vv.toString() == "All") {
                $("#alldiv").hide();
            }
            else {
                $("#alldiv").show();
            }
        }
    })
    $("#searchby").change(function () {
        var v = $("#sortby").val();
        var vv = $("#searchby").val();
        var df = $("#datefrom").val();
        var dt = $("#dateto").val();
        var stext = $("#searchtext").val();
        localStorage.setItem("searchby", vv);
        localStorage.setItem("sortby", v);
        localStorage.setItem("datefrom", df);
        localStorage.setItem("dateto", dt);
        localStorage.setItem("stext", stext);

        $("#hidsortby").val(v);
        if (v.toString() == "All") {
            $("#datediv").hide();
            if (vv.toString() == "All") {
                $("#alldiv").hide();
            }
            else {
                $("#alldiv").show();
            }
        } else {
            $("#datediv").show();
            if (vv.toString() == "All") {
                $("#alldiv").hide();
            }
            else {
                $("#alldiv").show();
            }
        }
    })
    $("#datefrom").blur(function () {
        var df = $("#datefrom").val();
        localStorage.setItem("datefrom", df);
    })
    $("#dateto").blur(function () {
        var df = $("#dateto").val();
        localStorage.setItem("dateto", df);
    })
    $("#searchtext").blur(function () {
        var df = $("#searchtext").val();
        localStorage.setItem("stext", df);
    })
    function myserach() {
        $("#search1").val("1");

    }
    function myserachpro() {
        $("#search1").val("0");
    }
</script>
@*<script type="text/javascript">
        $(function () {
            $(".datecal").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1970:2014'
            });
        });
    </script>*@