﻿@{
    ViewBag.Title = "Payment Clearance";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/ngController/OPaymentjs.js"></script>
<div id="main" data-ng-app="OPaymentApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="
                <i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="OtherPaymentController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i>Edit Payment </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">

            </div>
        </div>

        <!-- widget grid -->
        <section id="widget-grid" data-ng-init="ClearanceInit()" class="">
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">
                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>Other Payment Clearance Wizard </h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body fuelux">
                                <div class="step-content">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <fieldset>
                                            <div class="row">
                                                <input type="hidden" data-ng-model="Payment.PaymentID" name="PaymentID" id="PaymentID" value="@ViewBag.ID" />
                                                <input type="hidden" data-ng-model="Payment.TransactionID" name="TransactionID" id="TransactionID" value="@ViewBag.ID" />
                                                <div class="message">
                                                    <p>
                                                        <center>{{ Error}}  {{ Message }}</center>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="step-pane active" id="step3">
                                            <div class="jarviswidget wdgt_marg" data-widget-editbutton="false" data-widget-custombutton="false">
                                                <header>
                                                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                    <h2>Payment Details</h2>
                                                </header>
                                                <!-- widget div-->
                                                <div>
                                                    <!-- widget edit box -->
                                                    <div class="jarviswidget-editbox">
                                                        <!-- This area used as dropdown edit box -->
                                                    </div>
                                                    <!-- end widget edit box -->
                                                    <!-- widget content -->
                                                    <div class="widget-body no-padding">

                                                        <div id="flatdetail" class="row">
                                                            <div class="col-sm-6 smart-form">
                                                                <div id="comment-form" class="smart-form">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="hm_content_sec_top">
                                                                                    <input type="hidden" id="FlatName" name="FlatName" value="{{Payment.FlatName}}" />
                                                                                    <input type="hidden" id="DueAmount" name="DueAmount" value="{{Payment.DueAmount}}" />
                                                                                    <input type="hidden" id="DueDate" name="DueDate" value="{{Payment.DueDate}}" />
                                                                                    <input type="hidden" id="ddlPayment" name="ddlPayment" value="{{Payment.InstallmentNo}}" />
                                                                                    <input type="hidden" id="IsReceipt" name="IsReceipt" value="{{Payment.IsReceipt}}" />
                                                                                    <ul>
                                                                                        <li>Property Name:</li>
                                                                                        <li id="FlatName">{{Payment.FlatName}} </li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Customer Name:</li>
                                                                                        <li id="CustomeName">{{Sale.Sale[0].CustomerName}}</li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </fieldset>

                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div id="comment-form" class="smart-form">

                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <div class="hm_content_sec_top">
                                                                                    <input type="hidden" id="SaleID" value="{{Sale.Sale[0].SaleID}}" />
                                                                                    <ul>
                                                                                        <li>Sale Price</li>
                                                                                        <li><span id="SalePrice">{{ Sale.Sale[0].SaleRate}}</span></li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Received Amount:</li>
                                                                                        <li><span id="PaidAmount">{{ Amount.TotalPaid }}</span></li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Balance Amount:</li>
                                                                                        <li><span id="Balance">{{ Sale.Sale[0].SaleRate -  Amount.TotalPaid}}</span></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>

                                                <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">

                                                    <header>
                                                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                        <h2>Payments Clearance</h2>
                                                    </header>

                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <div class="widget-body no-padding">

                                                            <div class="row">
                                                                <div class="col-sm-6 smart-form">
                                                                    <div id="comment-form" class="smart-form">
                                                                        <fieldset>
                                                                            <div class="row">
                                                                                <div class="col-md-7 col">
                                                                                    <label class="checkbox-inline3">
                                                                                        <input class="checkbox style-0" data-ng-model="isBounce" type="checkbox" id="isBounce">
                                                                                        <span>Is Bounce</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-7 col">
                                                                                    <label class="label">Bank Clearance Date:</label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="ClearanceDate" data-ng-model="ClearanceDate" value="{{Payment.ClearanceDate}}" class="datecal" required="required" />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-7 col">
                                                                                    <label class="label">Clearance Charges: </label>
                                                                                    <label class="input">
                                                                                        <input type="number" id="ClearAmt" data-ng-model="ClearAmt" required="required" />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-7 col">
                                                                                    <label class="label">Remark: </label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="Remarks" data-ng-model="Remarks" required="required" />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div id="comment-form" class="smart-form">

                                                                        <fieldset>
                                                                            <div class="row">
                                                                                <div class="col-sm-5 col">
                                                                                    <label class="label">Receipt No: </label>
                                                                                </div>
                                                                                <div class="col-sm-6"><b> {{Payment.PaymentNo}}</b></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col col-sm-5">
                                                                                    <label class="label">Amount Received: </label>
                                                                                </div>
                                                                                <div class="col-md-7">
                                                                                    <b> {{Payment.Amount}}</b>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col col-sm-5">
                                                                                    <label class="label">Amount Received (IN Words):</label>
                                                                                </div>
                                                                                <div class="col-md-7"> <b>{{ReceiveAmountWord}}</b></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-5 col">
                                                                                    <label class="label">Payment Date: </label>
                                                                                </div>
                                                                                <div class="col-sm-7"><b> {{PaymentDate}}</b></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-5 col">
                                                                                    <label class="label">Payment Mode: </label>
                                                                                </div>
                                                                                <div class="col-sm-7"><b>  {{Payment.PaymentMode}}</b></div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-5 col">Is Bound:</div>
                                                                                <div class="col-sm-7">{{Payment.IsBounce}}</div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-5 col">Clearance Charge:</div>
                                                                                <div class="col-sm-7">{{Payment.ClearanceCharge}}</div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-5 col">Clearance Remark:</div>
                                                                                <div class="col-sm-7">{{Payment.RefundRemark}}</div>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-actions frm-marg">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <button class="btn btn-primary pull-left" data-ng-click="UpdateClearance()">
                                                                            <i class="fa fa-save"></i>
                                                                            Update
                                                                        </button>
                                                                        <button class="btn btn-default pull-left btn_marg" type="submit">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>


                                                <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                    <header>
                                                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                        <h2>Payments Details</h2>
                                                    </header>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h4>Payment Details</h4>
                                                            <div class="row">
                                                                <div class="col-md-3"></div>
                                                                <div class="col-md-3"><b>TransactionID</b></div>
                                                                <div class="col-md-3"><b>PaymentNo</b></div>
                                                                @*<div class="col-md-3"><b>Date</b></div>*@
                                                                <div class="col-md-3"><b>Amount</b></div>
                                                            </div>
                                                            <div class="row" data-ng-repeat="pay in Payment.Payments">
                                                                <div class="col-md-3"></div>
                                                                <div class="col-md-3">{{ pay.TransactionID}}</div>
                                                                <div class="col-md-3">{{ pay.PaymentNo}}</div>
                                                                @*<div class="col-md-3">{{ pay.PaymentDate | date:"MM/dd/yyyy" }}</div>*@
                                                                <div class="col-md-3">{{ pay.Amount}}</div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="pull-right"><b>Total Paid Amount: <span>{{ Amount.TotalPaid }}</span></b></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- WIDGET END -->

            </div>

            <!-- end row -->

        </section>
        <!-- end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->

    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />

</div>
<script type="text/javascript">
    $(function () {
        $(".datecal").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1970:2014',
            dateFormat:'dd/mm/yy'
        });
    });
</script>