﻿@{
    ViewBag.Title = "PayAssuredReturn";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}

<script src="~/Scripts/angular.js"></script>

<div id="main" data-ng-app="ASReturnApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">

        <span class="ribbon-button-alignment">
        
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Customer</li>
            <li>Assured Return</li>
            <li>Pay Assured Return</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="ASReturnController">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-rupee"></i> Pay Assured Return </h1>
            </div>
        </div>

        <!-- widget grid -->
        <section id="widget-grid" class="" data-ng-init="AssuredPayInit()">
            <input type="hidden" id="hidId" name="hidId" value="@ViewBag.ID" />
            <!-- row -->
            <div class="row">
                <!-- NEW WIDGET START -->
                <article class="col-sm-12 col-md-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">

                        <header>
                            <h2>Payment Wizard </h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body fuelux">
                                <div class="step-content">
                                    <div class="form-horizontal" id="fuelux-wizard">
                                        <fieldset>
                                            <div class="row">
                                                <div class="message">
                                                    <p>
                                                        <center id="Error">{{ Error}}  {{ Message }}</center>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="step-pane active" id="step3">
                                            <div class="jarviswidget wdgt_marg" data-widget-editbutton="false" data-widget-custombutton="false">
                                                <header>
                                                    <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                    <h2>Property Detail</h2>
                                                </header>
                                                <!-- widget div-->
                                                <div>
                                                    <!-- widget edit box -->
                                                    <div class="jarviswidget-editbox">
                                                        <!-- This area used as dropdown edit box -->
                                                    </div>
                                                    <!-- end widget edit box -->
                                                    <!-- widget content -->
                                                    <div class="widget-body no-padding">

                                                        <div id="flatdetail" class="row">
                                                            <div class="col-sm-6 smart-form">
                                                                <div id="comment-form" class="smart-form">
                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-sm-7">
                                                                                <div class="hm_content_sec_top">

                                                                                    <input type="hidden" id="SaleID" value="{{Sale.Sale[0].SaleID}}" />
                                                                                    <input type="hidden" id="FlatName" name="FlatName" value="{{Payment.FlatName}}" />
                                                                                    <ul>
                                                                                        <li>Property Name:</li>
                                                                                        <li id="FlatName">{{Payment.FlatName}} </li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Customer Name:</li>
                                                                                        <li id="CustomeName"> {{CustomerName}}</li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Month:</li>
                                                                                        <li id="Month"> {{Payment.MonthName}}</li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Duration:</li>
                                                                                        <li id="CustomeName"> {{Payment.Duration}}</li>
                                                                                    </ul>
                                                                                    <input type="hidden" id="hidCustomerName" value="{{Payment.CustomerName}}" name="hidCustomerName" />
                                                                                    <input type="hidden" id="hidCustomerID" value="{{Payment.CustomerID}}" name="hidCustomerID" />
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div id="comment-form" class="smart-form">

                                                                    <fieldset>
                                                                        <div class="row">
                                                                            <div class="col-sm-7">
                                                                                <div class="hm_content_sec_top">

                                                                                    <ul>
                                                                                        <li>Sale Price</li>
                                                                                        <li><span id="SalePrice">{{ Sale.Sale[0].SaleRate}}</span></li>
                                                                                    </ul>

                                                                                    <ul>
                                                                                        <li>Received Amount:</li>
                                                                                        <li><span id="PaidAmount">{{ TotalAmount }}</span></li>
                                                                                    </ul>
                                                                                    <ul>
                                                                                        <li>Balance Amount:</li>
                                                                                        <li><span id="Balance">{{ Sale.Sale[0].SaleRate-  Amount.TotalPaid}}</span></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </fieldset>
                                                                    <div class="message">
                                                                        <i class="fa fa-check fa-lg"></i>
                                                                        <p>
                                                                            Your comment was successfully added!
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>

                                                <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">

                                                    <header>
                                                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                        <h2>Payments</h2>
                                                    </header>

                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <div class="widget-body no-padding">

                                                            <div class="row">
                                                                <div class="col-sm-6 smart-form">
                                                                    <div id="comment-form" class="smart-form">
                                                                        <fieldset>
                                                                            <div class="row">
                                                                                <div class="col-sm-4 col">
                                                                                    <label class="label">Payment Date </label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="paymentDate" data-ng-model="PayDate" class="datecal" required="required" />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Payment Mode</label>
                                                                                </div>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="select">
                                                                                        <select id="PaymentMode" name="budget" data-ng-model="PaymentMode" onchange="PaymentModeChange(this)">
                                                                                            <option value="Cash" selected="selected">Cash</option>
                                                                                            <option value="Cheque">Cheque</option>
                                                                                            <option value="DD">DD</option>
                                                                                            <option value="RTGS">RTGS</option>
                                                                                            <option value="Bank Transfer">Bank Transfer</option>
                                                                                            <option value="NEFT">NEFT</option>
                                                                                            <option value="Transfer Entry">Transfer Entry</option>
                                                                                        </select>
                                                                                        <i></i>
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                            <div class="row" id="divCheque" style="display: none">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Cheque No.</label>
                                                                                    <label class="input">
                                                                                        <input id="ChequeNo" data-ng-model="ChequeNo" type="text" />
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Cheque Date</label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="chequeDate" data-ng-model="ChequeDate" class="datecal" />
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-sm-8 col">
                                                                                    <label class="label">Bank Name</label>
                                                                                    <label class="select">
                                                                                        <select id="BankName" name="BankName" data-ng-model="BankName">
                                                                                            <option data-ng-repeat="bk in Banks" value="{{ bk.BankID }}">{{ bk.BankName }}</option>
                                                                                        </select>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="label">Bank Branch</label>
                                                                                    <label class="input">
                                                                                        <input type="text" data-ng-model="BankBranch" id="BankBranch" />
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-12 col">
                                                                                    <label class="checkbox-inline2 checkbox-inline3">
                                                                                        <input class="checkbox style-0" data-ng-model="chkPrint" type="checkbox" id="chkPrint">
                                                                                        <span>Print Receipt</span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <section class="col col-sm-12">
                                                                                    <label class="input col-sm-4 checkbox-marg">
                                                                                        <input type="text" data-ng-model="SenderEmail" name="name" id="txtSendEmail" placeholder="">
                                                                                    </label>

                                                                                    <label class="checkbox-inline2 checkbox-inline4 col-sm-8">
                                                                                        <input class="checkbox style-0" data-ng-model="chkSendEmail" id="chkSendEmail" type="checkbox">
                                                                                        <span>Send Email</span>
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div id="comment-form" class="smart-form">

                                                                        <fieldset>
                                                                            <div class="row">
                                                                                <section class="col col-sm-12">
                                                                                    <label class="label">Amount Paid</label>
                                                                                    <label class="input">
                                                                                        <input onblur="inWords(this.value)"  value="{{Payment.Amount}}" type="text" id="ReceivedAmount">
                                                                                    </label>
                                                                                </section>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="label">Amount Received (IN Words)</label>
                                                                                    <label class="input">
                                                                                        <input type="text" id="PaymentAmountInWords" data-ng-model="ReceiveAmountWord" value="{{ReceiveAmountWord}}" name="PaymentAmountInWords">
                                                                                    </label>
                                                                                </section>
                                                                                <section class="col col-sm-12">
                                                                                    <label class="label">Remarks</label>
                                                                                    <label class="input">
                                                                                        <textarea id="Remarks" data-ng-maxlength="Remarks" class="form-control" placeholder="" rows="3"></textarea>
                                                                                    </label>
                                                                                </section>
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-actions frm-marg">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <button id="btnSubmitPayment" class="btn btn-primary pull-left" data-ng-click="SaveAssuredPayment()">
                                                                            <i class="fa fa-save"></i>
                                                                            Save
                                                                        </button>
                                                                        <button class="btn btn-default pull-left btn_marg" type="submit">Cancel</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- end widget content -->
                                                    </div>
                                                    <!-- end widget div -->
                                                </div>


                                                <div class="jarviswidget" data-widget-editbutton="false" data-widget-custombutton="false">
                                                    <header>
                                                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                                                        <h2 id="paymenthead">Payments Details</h2>
                                                    </header>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>Amount Paid</h4>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-bordered table-striped particular_tbl">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th><b>PaymentDate</b></th>
                                                                                            <th><b>Receipt No</b></th>
                                                                                            <th><b>Amount</b></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr data-ng-repeat="pay in PaidPayment">
                                                                                            <td>{{pay.PaymentDateSt}}</td>
                                                                                            <td>{{ pay.ReceiptNo}}</td>
                                                                                            <td>{{ pay.Amount}}</td>
                                                                                        </tr>
                                                                                        <tr><td></td><td><b>Total</b></td><td><b>{{TotalAmount }}</b></td></tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- widget div-->
                                                    <div>

                                                        <!-- widget edit box -->
                                                        <div class="jarviswidget-editbox">
                                                            <!-- This area used as dropdown edit box -->

                                                        </div>
                                                        <!-- end widget edit box -->
                                                        <!-- widget content -->
                                                        <!-- end widget content -->

                                                    </div>
                                                    <!-- end widget div -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->

                    </div>
                    <!-- end widget -->

                </article>
                <!-- WIDGET END -->

            </div>

            <!-- end row -->

        </section>
        <!-- end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->

    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
    <script src="~/Scripts/ngController/ASReturnjs.js"></script>
</div>
<script type="text/javascript">
    $(function () {
        $(".datecal").datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: '1970:2099',
            dateFormat: 'dd/mm/yy'
        });
    });
    $(document).ready(function () {
        $('#loading').hide();
        $('#btnSubmitPayment').click(function () {
           // $('#btnSubmitPayment').hide();
        })
    });
</script>