﻿@using GridMvc.Html
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<div id="main" data-ng-app="BIApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <ol class="breadcrumb">
            <li>Reports</li>
            <li>Broker List</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="ReportController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-users"></i> Search Brokers </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8"><input id="reportmail" placeholder="Enter Email Address......" name="reportmail" class="form-control" type="text" /></div>
                            <div class="col-md-4">
                                <a name="rptSendMail" data-ng-click="ReportSendMail()" id="rptSendMail" class="btn btn-primary" value="Print"><i class="fa fa-envelope"></i> Send Mail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a name="rptExport" id="rptExport" data-ng-click="ReportExport()" class="btn btn-info" value="Export"><i class="fa fa-download"></i> Export</a>
                        <a name="rptPrint" id="rptPrint" data-ng-click="ReportPrint()" class="btn btn-warning" value="Print"><i class="fa fa-print"></i> Print</a>
                    </div>
                </div>
            </div>
            <!-- widget grid -->
            <section id="widget-grid" class="">

                <!-- row -->
                <div class="row">

                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <header>
                                <h2>Broker Search Wizard</h2>
                            </header>
                            <!-- widget div-->
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-3">
                                    <b>Search By:</b><br />
                                    <select name="Search" class="form-control" id="Search">
                                        <option value="All">All</option>
                                        <option value="Name">Name</option>
                                        <option value="MobileNo">MobileNo</option>
                                        <option value="PanNo">PanNo</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <b>Enter Query</b><br />
                                    <input type="text" name="Query" id="Query" class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    <br />
                                    <input type="submit" value="Search" data-ng-click="SearchBroker()" class="btn btn-primary" id="Srch1" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive" id="rptTableContent">
                                        <table class="table table-bordered table-striped particular_tbl">
                                            <thead>
                                                <tr>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('BrokerName', reverse)" class="pointer">Name <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('MobileNo', reverse)" class="pointer">MobileNo <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('Address1', reverse)" class="pointer">Address1 <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('Address2', reverse)" class="pointer">Address2 <i class="fa fa-sort-down"></i> </th>
                                                    <th data-ng-click="reverse=!reverse;orderSearchList('PanNo', reverse)" class="pointer">PanNo <i class="fa fa-sort-down"></i> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="sr in SearchList">
                                                    <td>{{sr.BrokerName}}</td>
                                                    <td>{{sr.MobileNo}}</td>
                                                    <td>{{sr.Address1}}</td>
                                                    <td>{{sr.Address2}}</td>
                                                    <td>{{sr.PanNo}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
        <!-- END MAIN CONTENT -->
        <script src="~/Content/js/jquery-1.7.2.min.js"></script>
        <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
        <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
        <script src="~/Scripts/ngController/Reportjs.js"></script>
    </div>
    
