﻿@using GridMvc.Html
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<div id="main" data-ng-app="BIApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <ol class="breadcrumb">
            <li>Reports</li>
            <li>Other Payments</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="ReportController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-rupee"></i> Search Other Payments </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8"><input id="reportmail" placeholder="Enter Email Address......" name="reportmail" class="form-control" type="text" /></div>
                            <div class="col-md-4">
                                <a name="rptSendMail" data-ng-click="ReportSendMail()" id="rptSendMail" class="btn btn-primary" value="Print"><i class="fa fa-envelope"></i> Send Mail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a name="rptExport" id="rptExport" data-ng-click="ReportExport()" class="btn btn-info" value="Export"><i class="fa fa-download"></i> Export</a>
                        <a name="rptPrint" id="rptPrint" data-ng-click="ReportPrint()" class="btn btn-warning" value="Print"><i class="fa fa-print"></i> Print</a>
                    </div>
                </div>
            </div>
            <!-- widget grid -->
            <section id="widget-grid" class="">
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">
                        @*@using (Html.BeginForm("Search", "Payment", null))
                    {*@
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <header>
                                <h2>Search Other Payments</h2>
                            </header>
                            <div class="row">
                                <div class="col-md-3">
                                    <b>Search By Property:</b><br />
                                    <select name="newCust.PropertyID" class="form-control" data-ng-change="PropertyName()" data-ng-model="newCust.PropertyID" id="PropertyID">
                                        <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <b>Search By Property:</b><br />
                                    <select name="newCust.PaymentFor" class="form-control" data-ng-model="newCust.PaymentFor" id="PaymentFor">
                                        <option value="All">All</option>
                                        <option value="Service Tax">Service Tax</option>
                                        <option value="Late Payment Charges">Late Payment Charges</option>
                                        <option value="Transfer Fee">Transfer Fee</option>
                                        <option value="Misc Amount">Misc Amount</option>
                                        <option value="Clearance Charges">Clearance Charges</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <b>Property Name:</b><br />
                                    <input type="text" id="searchtext" name="searchtext" class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    <br />
                                    <input type="submit" value="Search" data-ng-click="OtherPaymentSearch()" class="btn btn-primary" id="Srch1" />
                                    <input type="hidden" id="search1" name="search1" />
                                </div>
                            </div>
                            <!-- widget div-->
                            <div>
                                <!-- widget content -->
                                <div class="widget-body fuelux">
                                    <div class="step-content">
                                        <div class="form-horizontal" id="fuelux-wizard">
                                            <div class="form-content">
                                                <input type="hidden" name="hidsortby" id="hidsortby" />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive" id="rptTableContent">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentDateSt', reverse)" class="pointer">PaymentDate <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaymentFor', reverse)" class="pointer">Property For <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">PropertyName <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('CustomerName', reverse)" class="pointer">CustomerName <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('Amount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                        <th><b>Status</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in SearchList">
                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentDateSt}}</td>
                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentFor}}</td>
                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.FlatName}}</td>
                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.CustomerName}}</td>
                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.Amount}}</td>
                                                                        <td style="background-color:{{sr.InstallmentNo}}">{{sr.PaymentStatus}}</td>
                                                                    </tr>
                                                                    <tr><td></td><td></td><td></td><td><b>Total</b></td><td><b>{{TotalSearchAmount}}</b></td><td></td></tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <br />
                                                    &nbsp;&nbsp;&nbsp;&nbsp; <b style="background-color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> Advance Booking Amount
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->
                        @*}*@
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
        <!-- END MAIN CONTENT -->
        <script src="~/Content/js/jquery-1.7.2.min.js"></script>
        <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
        <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
        <script src="~/Scripts/ngController/Reportjs.js"></script>
    </div>
    </div>
    <script>
    $(document).ready(function () {
        $("#datediv").hide();
        $("#alldiv").hide();
        if (localStorage.getItem("searchby") != null) {
            $("#searchby").val(localStorage.getItem("searchby"));
            $("#sortby").val(localStorage.getItem("sortby"));
            $("#datefrom").val(localStorage.getItem("datefrom"));
            $("#dateto").val(localStorage.getItem("dateto"));
            $("#searchtext").val(localStorage.getItem("stext"));

            if (localStorage.getItem("sortby") == "All") {
                $("#datediv").hide();
                if (localStorage.getItem("searchby") == "All") {
                    $("#alldiv").hide();
                }
                else {
                    $("#alldiv").show();
                }
            } else {
                $("#datediv").show();
                if (localStorage.getItem("searchby") == "All") {
                    $("#alldiv").hide();
                }
                else {
                    $("#alldiv").show();
                }
            }
        }
    })
    $("#sortby").change(function () {
        var v = $("#sortby").val();
        var vv = $("#searchby").val();
        var df = $("#datefrom").val();
        var dt = $("#dateto").val();
        var stext = $("#searchtext").val();
        localStorage.setItem("searchby", vv);
        localStorage.setItem("sortby", v);
        localStorage.setItem("datefrom", df);
        localStorage.setItem("dateto", dt);
        localStorage.setItem("stext", stext);

        $("#hidsortby").val(v);
        if (v.toString() == "All") {
            $("#datediv").hide();
            if (vv.toString() != "All") {
                $("#alldiv").show();
            }
        } else {
            $("#datediv").show();
            if (vv.toString() == "All") {
                $("#alldiv").hide();
            }
            else {
                $("#alldiv").show();
            }
        }
    })

    $("#searchby").change(function () {
        var v = $("#sortby").val();
        var vv = $("#searchby").val();
        var df = $("#datefrom").val();
        var dt = $("#dateto").val();
        var stext = $("#searchtext").val();
        localStorage.setItem("searchby", vv);
        localStorage.setItem("sortby", v);
        localStorage.setItem("datefrom", df);
        localStorage.setItem("dateto", dt);
        localStorage.setItem("stext", stext);

        $("#hidsortby").val(v);
        if (v.toString() == "All") {
            $("#datediv").hide();
            if (vv.toString() == "All") {
                $("#alldiv").hide();
            }
            else {
                $("#alldiv").show();
            }
        } else {
            $("#datediv").show();
            if (vv.toString() == "All") {
                $("#alldiv").hide();
            }
            else {
                $("#alldiv").show();
            }
        }
    })
    $("#datefrom").blur(function () {
        var df = $("#datefrom").val();
        localStorage.setItem("datefrom", df);
    })
    $("#dateto").blur(function () {
        var df = $("#dateto").val();
        localStorage.setItem("dateto", df);
    })
    $("#searchtext").blur(function () {
        var df = $("#searchtext").val();
        localStorage.setItem("stext", df);
    })

    function myserach() {
        $("#search1").val("1");

    }
    function myserachpro() {
        $("#search1").val("0");
    }
    </script>