﻿@using GridMvc.Html
@{
    ViewBag.Title = "Pending Installment";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<div id="main" data-ng-app="BIApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <ol class="breadcrumb">
            <li>Reports</li>
            <li>Pending Installment</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="ReportController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-rupee"></i>&nbsp;&nbsp; Search Pending Installment</h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <input id="reportmail" placeholder="Enter Email Address......" name="reportmail" class="form-control" type="text" />
                            </div>
                            <div class="col-md-4">
                                <a name="rptSendMail" data-ng-click="ReportSendMail()" id="rptSendMail" class="btn btn-primary" value="Print"><i class="fa fa-envelope"></i> &nbsp;&nbsp;Send Mail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a name="rptExport" id="rptExport" data-ng-click="ReportExport()" class="btn btn-info" value="Export"><i class="fa fa-download"></i>&nbsp;&nbsp;Export</a>
                        <a name="rptPrint" id="rptPrint" data-ng-click="ReportPrint()" class="btn btn-warning" value="Print"><i class="fa fa-print"></i>&nbsp;&nbsp;Print</a>
                    </div>
                </div>
            </div>
            <!-- widget grid -->
            <section id="widget-grid" class="">
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                            @*<header>
                                <h2>Search Wizard </h2>
                            </header>*@
                            <!-- widget div-->
                            <div>
                                <!-- widget content -->
                                <div class="widget-body fuelux">
                                    <div class="step-content">
                                        <div class="form-horizontal" id="fuelux-wizard">
                                            @*@using (Html.BeginForm("Search", "Home", new { area = "" }, FormMethod.Post)) {*@
                                            <div class="form-content">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Property:</b><br />
                                                        <select name="PropertyID" data-ng-change="PropertyName()" data-ng-model="newCust.PropertyID" id="PropertyID" class="form-control">

                                                            <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Search By:</b><br />
                                                        <input type="hidden" id="protypename" name="protypename">
                                                        <select id="searchby" name="searchby" class="form-control">
                                                            <option value="PropertyName">Property Name</option>
                                                            <option value="BookingDate">Date</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <br />
                                                        <input type="submit" value="Search" data-ng-click="SearchPendingInstallment()" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                                <div class="row" id="datediv">
                                                    <div class="col-md-4">
                                                        <b>Due Date:</b>
                                                        <input type="date" name="datefrom" id="datefrom" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4" style="display:none">
                                                        <b>Date To:</b>
                                                        <input type="date" name="dateto" id="dateto" class="form-control" />
                                                    </div>

                                                </div>
                                                <div class="row" id="alldiv">
                                                    <div class="col-md-8">
                                                        <b>Enter Property Name </b>
                                                        <br />
                                                        <input type="text" id="searchtext" name="searchtext" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br />
                                                    </div>
                                                </div>


                                                <input type="hidden" name="hidsortby" id="hidsortby" />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive" id="rptTableContent" >
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('SaleRate', reverse)" class="pointer">SaleRate <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('FName', reverse)" class="pointer">CustomerName <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('MobileNo', reverse)" class="pointer">Mobile No <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('FlatName', reverse)" class="pointer">PropertyName <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PaidAmount', reverse)" class="pointer">PaidAmount <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('DueAmount', reverse)" class="pointer">DueAmount <i class="fa fa-sort-down"></i> </th>
                                                                    <th><b>Action</b></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in SearchList">
                                                                        <td>{{sr.SaleRate}}</td>
                                                                        <td>{{sr.FName}}</td>
                                                                        <td>{{sr.MobileNo}}</td>
                                                                        <td>{{sr.FlatName}}</td>
                                                                        <td>{{sr.PaidAmount}}</td>
                                                                        <td>{{sr.DueAmount}} </td>
                                                                        <td>
                                                                            <a name="rptExport" target="_blank" id="rptExport" href="/Customer/Remark/AddRemark/{{sr.SaleID}}" class="btn btn-info" value="Export"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Followup</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td><b>Total</b></td>
                                                                        <td><b>{{TotalAmount}}</b></td>
                                                                        <td><b>{{TotalPaidAmount}}</b></td>
                                                                        <td><b>{{TotalDueAmount}}</b></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            @*}*@
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>

            <!-- widget grid -->
            <section id="widget-grid2" class="">
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">




                        @*@using (Html.BeginForm("Search", "Payment", null))
                            {*@
                        <!-- Widget ID (each widget will need unique ID)-->

                        <!-- end widget -->
                        @*}*@
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
        <!-- END MAIN CONTENT -->
        <script src="~/Content/js/jquery-1.7.2.min.js"></script>
        <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
        <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
        <script src="~/Scripts/ngController/Reportjs.js"></script>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#datediv").hide();
        $("#alldiv").hide();



        if (localStorage.getItem("searchby") != null) {
            $("#searchby").val(localStorage.getItem("searchby"));
            $("#sortby").val(localStorage.getItem("sortby"));
            $("#datefrom").val(localStorage.getItem("datefrom"));
            $("#dateto").val(localStorage.getItem("dateto"));
            $("#searchtext").val(localStorage.getItem("stext"));


            var v = $("#sortby").val();
            var vv = $("#searchby").val();
            var df = $("#datefrom").val();
            var dt = $("#dateto").val();
            var stext = $("#searchtext").val();
            if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
                $("#alldiv").hide();
                $("#datediv").hide(); $("#subtypediv").hide();
            }
            else {
                if (vv.toString() == "BookingDate" || vv.toString() == "SaleDate") {
                    $("#datediv").show();
                    $("#alldiv").hide(); $("#subtypediv").hide();
                }
                else if (vv.toString() == "SubType") {
                    $("#alldiv").hide();
                    $("#datediv").hide();
                    $("#subtypediv").show();
                }
                else {
                    $("#alldiv").show();
                    $("#datediv").hide();
                    $("#subtypediv").hide();
                }
            }
        }
    })
    $("#sortby").change(function () {
        var v = $("#sortby").val();
        var vv = $("#searchby").val();
        var df = $("#datefrom").val();
        var dt = $("#dateto").val();
        var stext = $("#searchtext").val();
        localStorage.setItem("searchby", vv);
        localStorage.setItem("sortby", v);
        localStorage.setItem("datefrom", df);
        localStorage.setItem("dateto", dt);
        localStorage.setItem("stext", stext);

        $("#hidsortby").val(v);
        if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
            $("#alldiv").hide();
            $("#datediv").hide(); $("#subtypediv").hide();
        }
        else {
            if (vv.toString() == "BookingDate" || vv.toString() == "SaleDate") {
                $("#datediv").show();
                $("#alldiv").hide(); $("#subtypediv").hide();
            }
            else if (vv.toString() == "SubType") {
                $("#subtypediv").show();
                $("#alldiv").hide();
                $("#datediv").hide();
            }
            else {
                $("#alldiv").show();
                $("#datediv").hide();
                $("#subtypediv").hide();
            }
        }
    })

    $("#searchby").change(function () {
        var v = $("#sortby").val();
        var vv = $("#searchby").val();
        var df = $("#datefrom").val();
        var dt = $("#dateto").val();
        var stext = $("#searchtext").val();
        localStorage.setItem("searchby", vv);
        localStorage.setItem("sortby", v);
        localStorage.setItem("datefrom", df);
        localStorage.setItem("dateto", dt);
        localStorage.setItem("stext", stext);

        $("#hidsortby").val(v);
        if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
            $("#alldiv").hide();

            $("#datefrom").val("");
            $("#dateto").val("");
            $("#datediv").hide(); $("#subtypediv").hide();
        }
        else {
            if (vv.toString() == "BookingDate" || vv.toString() == "SaleDate") {
                $("#datediv").show();
                $("#alldiv").hide(); $("#subtypediv").hide();
            }
            else if (vv.toString() == "SubType") {
                $("#subtypediv").show();
                $("#alldiv").hide();
                $("#datediv").hide();
            }
            else {
                $("#alldiv").show();
                $("#datediv").hide();
                $("#subtypediv").hide();
            }
        }
    })
    $("#datefrom").blur(function () {
        var df = $("#datefrom").val();
        localStorage.setItem("datefrom", df);
    })
    $("#dateto").blur(function () {
        var df = $("#dateto").val();
        localStorage.setItem("dateto", df);
    })
    $("#searchtext").blur(function () {
        var df = $("#searchtext").val();
        localStorage.setItem("stext", df);
    })
</script>
