﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Report</title>
    <script src="~/Scripts/angular.js"></script>
    <style>
        table {
            border: 2px solid gray;
            width: 100%;
        }

            table thead {
                border: 1px solid gray;
                background-color: rgb(59, 57, 61);
                padding: 0;
                margin: 0;
                color: rgb(247, 13, 13);
            }

            table tbody tr {
                border-bottom: 1px solid;
                border-color: gray;
            }
            td{
                border-bottom:1px solid gray;
                border-left:1px solid gray;
            }
            tr{
                border-bottom:1px solid red;
            }
    </style>
</head>
<body data-ng-app="BIApp" data-ng-controller="ReportController">
    <div data-ng-init="PrintReportInint()" id="PrintReportdata">

    </div>
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
    <script src="~/Scripts/ngController/Reportjs.js"></script>
</body>
</html>
