﻿@using GridMvc.Html
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<div id="main" data-ng-app="BIApp" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <ol class="breadcrumb">
            <li>Reports</li>
            <li>Transfer Property</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="ReportController">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-pencil-square-o fa-fw "></i> Transfer Property </h1>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8"><input id="reportmail" placeholder="Enter Email Address......" name="reportmail" class="form-control" type="text" /></div>
                            <div class="col-md-4">
                                <a name="rptSendMail" data-ng-click="ReportSendMail()" id="rptSendMail" class="btn btn-primary" value="Print"><i class="fa fa-envelope"></i> Send Mail</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a name="rptExport" id="rptExport" data-ng-click="ReportExport()" class="btn btn-info" value="Export"><i class="fa fa-download"></i> Export</a>
                        <a name="rptPrint" id="rptPrint" data-ng-click="ReportPrint()" class="btn btn-warning" value="Print"><i class="fa fa-print"></i> Print</a>
                    </div>
                </div>
            </div>
            <!-- widget grid -->
            <section id="widget-grid" class="">
                <!-- row -->
                <div class="row">
                    <!-- NEW WIDGET START -->
                    <article class="col-sm-12 col-md-12">
                        @*@using (Html.BeginForm("Search", "Payment", null))
                            {*@
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                            <header>
                                <h2>Transfer Property</h2>
                            </header>
                            <!-- widget div-->
                            <div>
                                <!-- widget content -->
                                <div class="widget-body fuelux">
                                    <div class="step-content">
                                        <div class="form-horizontal" id="fuelux-wizard">
                                            <div class="form-content">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <b>Property:</b><br />
                                                        <select name="PropertyID" data-ng-change="PropertyName()" data-ng-model="newCust.PropertyID" id="PropertyID" class="form-control">
                                                            <option value="All" selected="selected">All</option>
                                                            <option data-ng-repeat="pro in Properties" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Search By:</b><br />
                                                        <input type="hidden" id="protypename" name="protypename">
                                                        <select id="searchby" name="searchby" class="form-control">
                                                            <option value="All" selected="selected">All</option>
                                                            <option value="SubType">Property SubType</option>
                                                            <option value="FlatName">Property Name</option>
                                                            <option value="TransferDate">Transfer Date</option>
                                                            <option value="SaleDate">Sale Date</option>
                                                            <option value="This Month">This Month</option>
                                                            <option value="Last 7 Days">Last 7 Days</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br />
                                                        <input type="submit" value="Search" data-ng-click="SearchTransferProperty()" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                                <div class="row" id="datediv">
                                                    <div class="col-md-4">
                                                        <b>Date From:</b>
                                                        <input type="date" name="datefrom" id="datefrom" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Date To:</b>
                                                        <input type="date" name="dateto" id="dateto" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row" id="alldiv">
                                                    <div class="col-md-8">
                                                        <b>Enter Search Query</b><br />
                                                        <input type="text" id="searchtext" name="searchtext" class="form-control" />
                                                    </div>
                                                    <div class="col-md-4">
                                                        <br />
                                                    </div>
                                                </div>
                                                <div class="row" id="subtypediv">
                                                    <div class="col-md-4">
                                                        <b>Property Type:</b><br />
                                                        <select name="PropertyTypeID" data-ng-change="PropertyType()" data-ng-model="newCust.PropertyTypeID" id="PropertyTypeID" class="form-control">
                                                            <option value="All" selected="selected">All</option>
                                                            <option data-ng-repeat="pro in PropertyTypes" value="{{ pro.PropertyID }}">{{ pro.PropertyName }}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <b>Property Size:</b><br />
                                                        <select name="PropertySizeID" class="form-control" data-ng-model="newCust.PropertySizeID" id="PropertySizeID">
                                                            <option value="All" selected="selected">All</option>
                                                            <option data-ng-repeat="pro in PropertySizes.PSizes" value="{{ pro.PropertySizeID }}">{{ pro.Size }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <input type="hidden" name="hidsortby" id="hidsortby" />
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="table-responsive" id="rptTableContent">
                                                            <table class="table table-bordered table-striped particular_tbl">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('TransferDateSt', reverse)" class="pointer">Transfer Date <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('SaleDateSt', reverse)" class="pointer">Sale Date <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('TransferAmount', reverse)" class="pointer">Amount <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('PropertyName', reverse)" class="pointer">PropertyName  <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('CustomerFrom', reverse)" class="pointer">CustomerFrom  <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('CustomerTo', reverse)" class="pointer">CustomerTo <i class="fa fa-sort-down"></i> </th>
                                                                        <th data-ng-click="reverse=!reverse;orderSearchList('NewPlanType', reverse)" class="pointer">PlanType <i class="fa fa-sort-down"></i> </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="sr in SearchList">
                                                                        <td>{{sr.TransferDateSt}}</td>
                                                                        <td>{{sr.SaleDateSt}}</td>
                                                                        <td>{{sr.TransferAmount}}</td>
                                                                        <td>{{sr.PropertyName}}</td>
                                                                        <td>{{sr.CustomerFrom}}</td>
                                                                        <td>{{sr.CustomerTo}}</td>
                                                                        <td>{{sr.NewPlanType}} </td>
                                                                    </tr>
                                                                    <tr><td><b>Total</b></td><td><b>{{TotalSaleAmount}}</b></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget -->
                        @*}*@
                    </article>
                    <!-- WIDGET END -->
                </div>
                <!-- end row -->
            </section>
            <!-- end widget grid -->
        </div>
        <!-- END MAIN CONTENT -->
        <script src="~/Content/js/jquery-1.7.2.min.js"></script>
        <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
        <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
        <script src="~/Scripts/ngController/Reportjs.js"></script>
    </div>
    <script>
        $(document).ready(function () {
            $("#datediv").hide();
            $("#alldiv").hide();



            if (localStorage.getItem("searchby") != null) {
                $("#searchby").val(localStorage.getItem("searchby"));
                $("#sortby").val(localStorage.getItem("sortby"));
                $("#datefrom").val(localStorage.getItem("datefrom"));
                $("#dateto").val(localStorage.getItem("dateto"));
                $("#searchtext").val(localStorage.getItem("stext"));


                var v = $("#sortby").val();
                var vv = $("#searchby").val();
                var df = $("#datefrom").val();
                var dt = $("#dateto").val();
                var stext = $("#searchtext").val();
                if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
                    $("#alldiv").hide();
                    $("#datediv").hide(); $("#subtypediv").hide();
                }
                else {
                    if (vv.toString() == "TransferDate" || vv.toString() == "SaleDate") {
                        $("#datediv").show();
                        $("#alldiv").hide(); $("#subtypediv").hide();
                    }
                    else if (vv.toString() == "SubType") {
                        $("#alldiv").hide();
                        $("#datediv").hide();
                        $("#subtypediv").show();
                    }
                    else {
                        $("#alldiv").show();
                        $("#datediv").hide();
                        $("#subtypediv").hide();
                    }
                }
            }
        })
        $("#sortby").change(function () {
            var v = $("#sortby").val();
            var vv = $("#searchby").val();
            var df = $("#datefrom").val();
            var dt = $("#dateto").val();
            var stext = $("#searchtext").val();
            localStorage.setItem("searchby", vv);
            localStorage.setItem("sortby", v);
            localStorage.setItem("datefrom", df);
            localStorage.setItem("dateto", dt);
            localStorage.setItem("stext", stext);

            $("#hidsortby").val(v);
            if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
                $("#alldiv").hide();
                $("#datediv").hide(); $("#subtypediv").hide();
            }
            else {
                if (vv.toString() == "TransferDate" || vv.toString() == "SaleDate") {
                    $("#datediv").show();
                    $("#alldiv").hide(); $("#subtypediv").hide();
                }
                else if (vv.toString() == "SubType") {
                    $("#subtypediv").show();
                    $("#alldiv").hide();
                    $("#datediv").hide();
                }
                else {
                    $("#alldiv").show();
                    $("#datediv").hide();
                    $("#subtypediv").hide();
                }
            }
        })

        $("#searchby").change(function () {
            var v = $("#sortby").val();
            var vv = $("#searchby").val();
            var df = $("#datefrom").val();
            var dt = $("#dateto").val();
            var stext = $("#searchtext").val();
            localStorage.setItem("searchby", vv);
            localStorage.setItem("sortby", v);
            localStorage.setItem("datefrom", df);
            localStorage.setItem("dateto", dt);
            localStorage.setItem("stext", stext);

            $("#hidsortby").val(v);
            if (vv.toString() == "All" || vv.toString() == "This Month" || vv.toString() == "Last 7 Days") {
                $("#alldiv").hide();

                $("#datefrom").val("");
                $("#dateto").val("");
                $("#datediv").hide(); $("#subtypediv").hide();
            }
            else {
                if (vv.toString() == "TransferDate" || vv.toString() == "SaleDate") {
                    $("#datediv").show();
                    $("#alldiv").hide(); $("#subtypediv").hide();
                }
                else if (vv.toString() == "SubType") {
                    $("#subtypediv").show();
                    $("#alldiv").hide();
                    $("#datediv").hide();
                }
                else {
                    $("#alldiv").show();
                    $("#datediv").hide();
                    $("#subtypediv").hide();
                }
            }
        })
        $("#datefrom").blur(function () {
            var df = $("#datefrom").val();
            localStorage.setItem("datefrom", df);
        })
        $("#dateto").blur(function () {
            var df = $("#dateto").val();
            localStorage.setItem("dateto", df);
        })
        $("#searchtext").blur(function () {
            var df = $("#searchtext").val();
            localStorage.setItem("stext", df);
        })
    </script>