﻿
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_MainTemplate.cshtml";
}


<script src="~/Scripts/angular.js"></script>
<!-- MAIN PANEL -->
<div id="main" data-ng-app="PaymentApp" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="
                <i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li> Property</li>
            <li>Summary</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content" data-ng-controller="HomeController">

        <!-- widget grid -->
        <section id="widget-grid" data-ng-init="GetPropertySummary()" class="">
            <input type="hidden" id="hidSaleID" name="hidSaleID" value="@ViewBag.ID" />
            <!-- row -->
            <div class="row">

                <!-- NEW WIDGET START -->
                <article id="SummaryHtml" class="col-sm-12 col-md-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Property Summery</h2>
                        </header>

                        <!-- widget div-->
                        <div>

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>

                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="daily_sec">
                                        <ul>
                                            <li>
                                                @using (Html.BeginForm("ExportSummary", "Home", new { area = "" }, FormMethod.Post))
                                                {
                                                    <input type="submit" class="btn btn-primary hidden" value="Export Data" onclick="ExportClick()" />
                                                    <input type="text" class="hidden" id="hidhtml" />
                                                }
                                                <a target="_blank" href="@Url.Action("SummaryPrint", "Home", new { area = "", id = ViewBag.ID, id2 = "Export" })"   id="btnExport" class="btn btn-default">Export</a>
                                                <a href="~/PDF/Temp/SummaryExport.doc" target="_blank" id="btnDownload" class="btn btn-default hidden">Download</a>
                                            </li>
                                            <li><a target="_blank" href="@Url.Action("SummaryPrint","Home",new{area="", id=ViewBag.ID, id2="Print"})"  id="btnPrint" class="btn btn-default">Print</a></li>
                                            <li><label>Email ID:</label></li>
                                            <li><input id="emailid" type="text" /></li>
                                            <li><button data-ng-click="SummarySendMail()" class="btn btn-default">Send Email</button></li>
                                        </ul>
                                    </div>

                                    <div class="daily_sec2">
                                        <div class="row top_padding">
                                            <div class="col-sm-6">
                                                <div class="hm_content_sec_top2">
                                                    <ul>
                                                        <li>Booking Date:</li>
                                                        <li>{{Sale.BookingDateSt}}</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Property Name:</li>
                                                        <li>{{Flat.FlatName}} ({{Property[0].Pro.PName}},{{Property[0].PType.PType}}, {{Property[0].PSize.Size}}) </li>
                                                    </ul>
                                                    <ul>
                                                        <li>Customer Name:</li>
                                                        <li>{{Customer.AppTitle}} {{Customer.FName}} {{Customer.MName}} {{Customer.LName}}</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Mobile No:</li>
                                                        <li>{{Customer.MobileNo}}</li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="hm_content_sec_top2">
                                                    <ul>
                                                        <li>Sale Price:</li>
                                                        <li>{{Sale.SaleRate}}</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Sale Date:</li>
                                                        <li>{{Sale.SaleDateSt}}</li>
                                                    </ul>
                                                   
                                                    <ul>
                                                        <li>Total Other Paid:</li>
                                                        <li>{{OAmount.TotalPaid}}</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Paid Amount:</li>
                                                        <li>{{Amount.TotalPaid}}</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Balance Amount:</li>
                                                        <li>{{Sale.SaleRate - Amount.TotalPaid}}</li>
                                                    </ul>
                                                    <ul>
                                                        <li>Leagal Notice:</li>
                                                        <li>No</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>

                        <!-- end widget div -->

                    </div>


                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Installment Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="tblSTax" class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th data-ng-click="reverse=!reverse;orderInstall('InstallmentNo', reverse)" class="pointer">Particular/Installment <i class="fa fa-sort-down"></i> </th>
                                                            <th style="display:none">Event</th>
                                                            <th data-ng-click="reverse=!reverse;orderInstall('DueDate', reverse)" class="pointer">Due Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderInstall('TotalAmount', reverse)" class="pointer">Total Amount <i class="fa fa-sort-down"></i> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="Ins in Install">
                                                            <td>{{Ins.InstallmentNo}}</td>
                                                            <td style="display:none">{{Ins.EventName}}</td>
                                                            <td>{{Ins.DueDate}}</td>
                                                            <td>{{Ins.TotalAmount}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="display:none"></td>
                                                            <td></td>
                                                            <td><b>Total Sale Price: </b></td>
                                                            <td><b>{{Sale.SaleRate}}</b></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-actions frm-marg">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary pull-left" type="submit">
                                                        <i class="fa fa-save"></i>
                                                        Save
                                                    </button>
                                                    <button class="btn btn-default pull-left btn_marg" type="submit">Cancel</button>
                                                </div>
                                            </div>
                                        </div> -->
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->

                    </div>



                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Paid Amount Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('PaymentDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th>Paid By</th>
                                                            <th>Property</th>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('InstallmentNo', reverse)" class="pointer">Particular/Installment <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('Amount', reverse)" class="pointer">Amount Received <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('PaymentStatus', reverse)" class="pointer">Payment Status <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('BankName', reverse)" class="pointer">Bank Name <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('PaymentMode', reverse)" class="pointer">Payment Mode <i class="fa fa-sort-down"></i> </th>
                                                            <th>Cheque No</th>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('ChequeDateSt', reverse)" class="pointer">Cheque Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderPayments('PaymentNo', reverse)" class="pointer"Receipt No <i class="fa fa-sort-down"></i> </th>
                                                            <th>Remarks</th>
                                                            <th>Received By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="Pay in Payments">
                                                            <td>{{Pay.PaymentDateSt}}</td>
                                                             <td>{{Pay.CustomerName}}</td>
                                                            <td>{{Pay.FlatName}}</td>
                                                            <td>{{Pay.InstallmentNo}}</td>
                                                            <td>{{Pay.Amount}}</td>
                                                            <td>{{Pay.PaymentStatus}}</td>
                                                            <td>{{Pay.BankName}}</td>
                                                            <td>{{Pay.PaymentMode}}</td>
                                                            <td>{{Pay.ChequeNo}}</td>
                                                            <td>{{Pay.ChequeDateSt}}</td>
                                                            <td>{{Pay.PaymentNo}}</td>
                                                            <td>{{Pay.Remarks}}</td>
                                                            <td>{{Pay.CreatedBy}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b>{{Amount.TotalPaid}}</b></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-actions frm-marg">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary pull-left" type="submit">
                                                        <i class="fa fa-save"></i>
                                                        Save
                                                    </button>
                                                    <button class="btn btn-default pull-left btn_marg" type="submit">Cancel</button>
                                                </div>
                                            </div>
                                        </div> -->
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->

                    </div>



                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Service Tax Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th>PARTICULARS</th>
                                                            <th>Amount Paid</th>
                                                            <th>Service TAX(%)</th>
                                                            <th> PAYABLE(RS.)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td> Service TAX</td>
                                                            <td>{{Amount.TotalPaid}} </td>
                                                            <td>{{Property[0].PType.ServiceTax}} %</td>
                                                            <td> {{STax}}</td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-actions frm-marg">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary pull-left" type="submit">
                                                        <i class="fa fa-save"></i>
                                                        Save
                                                    </button>
                                                    <button class="btn btn-default pull-left btn_marg" type="submit">Cancel</button>
                                                </div>
                                            </div>
                                        </div> -->
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->

                    </div>



                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Paid Service Tax Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th data-ng-click="reverse=!reverse;orderSTaxPayment('PaymentDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderSTaxPayment('Amount', reverse)" class="pointer">Amount Recieved <i class="fa fa-sort-down"></i></th>
                                                            <th data-ng-click="reverse=!reverse;orderSTaxPayment('PaymentMode', reverse)" class="pointer">Payment Mode <i class="fa fa-sort-down"></i> </th>
                                                            <th>Cheque No</th>
                                                            <th data-ng-click="reverse=!reverse;orderSTaxPayment('ChequeDateSt', reverse)" class="pointer">Cheque Date <i class="fa fa-sort-down"></i> </th>
                                                            <th>Payment Status</th>
                                                            <th>Bank Name</th>
                                                            <th data-ng-click="reverse=!reverse;orderSTaxPayment('PaymentNo', reverse)" class="pointer">Reciept No <i class="fa fa-sort-down"></i> </th>
                                                            <th>Receive By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="pay in STaxPayment">
                                                            <td>{{pay.TransactionID}}</td>
                                                            <td>{{pay.PaymentDateSt}}</td>
                                                            <td>{{pay.Amount}}</td>
                                                            <td>{{pay.PaymentMode}}</td>
                                                            <td>{{pay.ChequeNo}}</td>
                                                            <td>{{pay.ChequeDateSt}}</td>
                                                            <td>{{pay.PaymentStatus}}</td>
                                                            <td>{{pay.BankName}}</td>
                                                            <td>{{pay.PaymentNo}}</td>
                                                            <td>{{pay.CreatedBy}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b> {{OAmount.TotalSTax}}</b></td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td> </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Transfer Amount Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th data-ng-click="reverse=!reverse;orderTransPayment('PaymentDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderTransPayment('Amount', reverse)" class="pointer">Amount Recieved <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderTransPayment('PaymentMode', reverse)" class="pointer">Payment Mode <i class="fa fa-sort-down"></i> </th>
                                                            <th>Cheque No</th>
                                                            <th data-ng-click="reverse=!reverse;orderTransPayment('ChequeDateSt', reverse)" class="pointer">Cheque Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderTransPayment('PaymentStatus', reverse)" class="pointer">Payment Status <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderTransPayment('BankName', reverse)" class="pointer">Bank Name <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderTransPayment('PaymentNo', reverse)" class="pointer">Reciept No <i class="fa fa-sort-down"></i> </th>
                                                            <th>Receive By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="pay in TransPayment">
                                                            <td>{{item=item+pay.Amount}}{{pay.TransactionID}}</td>
                                                            <td>{{pay.PaymentDateSt}}</td>
                                                            <td>{{pay.Amount}}</td>
                                                            <td>{{pay.PaymentMode}}</td>
                                                            <td>{{pay.ChequeNo}}</td>
                                                            <td>{{pay.ChequeDateSt}}</td>
                                                            <td>{{pay.PaymentStatus}}</td>
                                                            <td>{{pay.BankName}}</td>
                                                            <td>{{pay.PaymentNo}}</td>
                                                            <td>{{pay.CreatedBy}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b> {{OAmount.TotalTrans}}</b></td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td> </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->
                    </div>

                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Late Fees Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                               
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('TransactionID', reverse)" class="pointer">S. No <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('CrDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('DueDateSt', reverse)" class="pointer">DueDateSt Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('ReceiveAmount', reverse)" class="pointer">Amount Recieved <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('InterestAmount', reverse)" class="pointer">Interest Amount<i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('InstallmentNo', reverse)" class="pointer">Installment <i class="fa fa-sort-down"></i> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="pay in LatePaymentCharge">
                                                            <td>{{pay.TransactionID}}</td>
                                                            <td>{{pay.CrDateSt}}</td>
                                                            <td>{{pay.DueDateSt}}</td>
                                                            <td>{{pay.ReceiveAmount}}</td>
                                                            <td>{{pay.InterestAmount}}</td>
                                                            <td>{{pay.InstallmentNo}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b> {{RLTotal}}</b></td>
                                                            <td> <b> {{ILTotal}}</b></td>
                                                            <td> </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->

                                <div class="widget-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('PaymentDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('Amount', reverse)" class="pointer">Amount Recieved <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('PaymentMode', reverse)" class="pointer">Payment Mode <i class="fa fa-sort-down"></i> </th>
                                                            <th>Cheque No</th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('ChequeDateSt', reverse)" class="pointer">Cheque Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('PaymentStatus', reverse)" class="pointer">Payment Status <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('BankName', reverse)" class="pointer">Bank Name <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderLatePayment('PaymentNo', reverse)" class="pointer">Reciept No <i class="fa fa-sort-down"></i> </th>
                                                            <th>Receive By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="pay in LatePayment">
                                                            <td>{{pay.TransactionID}}</td>
                                                            <td>{{pay.PaymentDateSt}}</td>
                                                            <td>{{pay.Amount}}</td>
                                                            <td>{{pay.PaymentMode}}</td>
                                                            <td>{{pay.ChequeNo}}</td>
                                                            <td>{{pay.ChequeDateSt}}</td>
                                                            <td>{{pay.PaymentStatus}}</td>
                                                            <td>{{pay.BankName}}</td>
                                                            <td>{{pay.PaymentNo}}</td>
                                                            <td>{{pay.CreatedBy}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b> {{OAmount.TotalLate}}</b></td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td> </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Maintanance Charges Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th data-ng-click="reverse=!reverse;orderMainPayment('PaymentDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMainPayment('Amount', reverse)" class="pointer">Amount Recieved <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMainPayment('PaymentMode', reverse)" class="pointer">Payment Mode <i class="fa fa-sort-down"></i> </th>
                                                            <th>Cheque No</th>
                                                            <th data-ng-click="reverse=!reverse;orderMainPayment('ChequeDateSt', reverse)" class="pointer">Cheque Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMainPayment('PaymentStatus', reverse)" class="pointer">Payment Status <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMainPayment('BankName', reverse)" class="pointer">Bank Name <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMainPayment('PaymentNo', reverse)" class="pointer">Receipt No <i class="fa fa-sort-down"></i> </th>
                                                            <th>Receive By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="pay in MainPayment">
                                                            <td>{{pay.TransactionID}}</td>
                                                            <td>{{pay.PaymentDateSt}}</td>
                                                            <td>{{pay.Amount}}</td>
                                                            <td>{{pay.PaymentMode}}</td>
                                                            <td>{{pay.ChequeNo}}</td>
                                                            <td>{{pay.ChequeDateSt}}</td>
                                                            <td>{{pay.PaymentStatus}}</td>
                                                            <td>{{pay.BankName}}</td>
                                                            <td>{{pay.PaymentNo}}</td>
                                                            <td>{{pay.CreatedBy}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b> {{OAmount.TotalMain}}</b></td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td> </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Clearance Charges Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th data-ng-click="reverse=!reverse;orderIntPayment('PaymentDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderIntPayment('Amount', reverse)" class="pointer">Amount Recieved <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderIntPayment('PaymentMode', reverse)" class="pointer">Payment Mode <i class="fa fa-sort-down"></i> </th>
                                                            <th>Cheque No</th>
                                                            <th data-ng-click="reverse=!reverse;orderIntPayment('ChequeDateSt', reverse)" class="pointer">Cheque Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderIntPayment('PaymentStatus', reverse)" class="pointer">Payment Status <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderIntPayment('BankName', reverse)" class="pointer">Bank Name <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderIntPayment('PaymentNo', reverse)" class="pointer">Receipt No <i class="fa fa-sort-down"></i> </th>
                                                            <th>Receive By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="pay in IntPayment">
                                                            <td>{{pay.TransactionID}}</td>
                                                            <td>{{pay.PaymentDateSt}}</td>
                                                            <td>{{pay.Amount}}</td>
                                                            <td>{{pay.PaymentMode}}</td>
                                                            <td>{{pay.ChequeNo}}</td>
                                                            <td>{{pay.ChequeDateSt}}</td>
                                                            <td>{{pay.PaymentStatus}}</td>
                                                            <td>{{pay.BankName}}</td>
                                                            <td>{{pay.PaymentNo}}</td>
                                                            <td>{{pay.CreatedBy}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b> {{OAmount.TotalInt}}</b></td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td> </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->
                    </div>

                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>Misc. Amount Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th data-ng-click="reverse=!reverse;orderMiscPayment('PaymentDateSt', reverse)" class="pointer">Payment Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMiscPayment('Amount', reverse)" class="pointer">Amount Recieved <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMiscPayment('PaymentMode', reverse)" class="pointer">Payment Mode <i class="fa fa-sort-down"></i> </th>
                                                            <th>Cheque No</th>
                                                            <th data-ng-click="reverse=!reverse;orderMiscPayment('ChequeDateSt', reverse)" class="pointer">Cheque Date <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMiscPayment('PaymentStatus', reverse)" class="pointer">Payment Status <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMiscPayment('BankName', reverse)" class="pointer">Bank Name <i class="fa fa-sort-down"></i> </th>
                                                            <th data-ng-click="reverse=!reverse;orderMiscPayment('PaymentNo', reverse)" class="pointer">Receipt No <i class="fa fa-sort-down"></i> </th>
                                                            <th>Receive By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="pay in MiscPayment">
                                                            <td>{{pay.TransactionID}}</td>
                                                            <td>{{pay.PaymentDateSt}}</td>
                                                            <td>{{pay.Amount}}</td>
                                                            <td>{{pay.PaymentMode}}</td>
                                                            <td>{{pay.ChequeNo}}</td>
                                                            <td>{{pay.ChequeDateSt}}</td>
                                                            <td>{{pay.PaymentStatus}}</td>
                                                            <td>{{pay.BankName}}</td>
                                                            <td>{{pay.PaymentNo}}</td>
                                                            <td>{{pay.CreatedBy}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>Total</b></td>
                                                            <td><b> {{OAmount.TotalMisc}}</b></td>
                                                            <td> </td>
                                                            <td> </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td> </td>
                                                        </tr>

                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->
                    </div>


                    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                        -->
                        <header>
                            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                            <h2>All Payment Details</h2>
                        </header>
                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget div-->
                            <div>
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->

                                </div>
                                <!-- end widget edit box -->
                                <!-- widget content -->
                                <div class="widget-body no-padding">

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped particular_tbl">
                                                    <thead>
                                                        <tr>
                                                            <th>Payment Type</th>
                                                            <th>Total Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                        <td>Installment Amount</td>
                                                        <td>{{Amount.TotalPaid}}</td>
                                                        </tr>
                                                        <tr data-ng-repeat="gp in GTotalAmount.GroupPay">
                                                            <td>{{gp.PaymentFor}}</td>
                                                            <td>{{gp.TAmount}}</td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end widget content -->
                            </div>
                            <!-- end widget div -->
                        </div>
                        <!-- end widget div -->

                    </div>




                    <!-- end widget -->

                </article>
                <!-- WIDGET END -->

            </div>

            <!-- end row -->

        </section>
        <!-- end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<script src="~/Content/js/jquery-1.7.2.min.js"></script>
<script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
<link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
<script src="~/Scripts/ngController/Paymentjs.js"></script>
<script>
    $("#btnDownload").hide();
    function ExportClick() {
        var ht = $("#SummaryHtml").html();
        alert(ht);
        $("#hidhtml").val(ht);
    }
</script>