﻿<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    <h1 class="txt-color-red login-header-big">SBP Groups</h1>
    <div class="hero">

        <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header"></h4>
            <div class="login-app-icons">
                <a href="javascript:void(0);" class="btn btn-danger btn-sm">Welcome To you</a>
            </div>
        </div>

        <img src="~/content/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading"></h5>
            <p>
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading"></h5>
            <p>
            </p>
        </div>
    </div>

</div>