﻿@model Comax.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";

    ViewBag.PageId = "extr-page";
    ViewBag.Title = "Reset Password";
    
}
@section topright{
    <span id="extr-page-header-space"><span class="hidden-mobile">Already registered?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">Sign In</a> </span>
}
<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)

            <form action="@Url.Action("ResetPassword", "Account")" method="POST" id="login-form" class="smart-form client-form">
                <header>
                    Reset password
                </header>


                @Html.HiddenFor(model => model.Code)
                @Html.AntiForgeryToken()
                @*  @Html.ValidationBootstrap()*@
                <fieldset>
                    <section>
                        @if (@ViewBag.Error != "")
                        {
                            <label style="color: red">
                                <em for="email" class="invalid">@ViewBag.Error</em>
                            </label>

                        }

                        <label class="label">E-mail</label>
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            <input type="email" name="email" placeholder="E-mail" data-val-required="The Password field is required.">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>Please enter the email address the account was registered with</b>
                        </label>
                    </section>


                    <section>
                        <label class="label">Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input class="form-control" data-ng-model="UserModel.Password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password">
                            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password", @placeholder = "Password" })*@
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>Enter your password</b>
                        </label>

                    </section>


                    <section>
                        <label class="label">Confirm  Password</label>
                        <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <input class="form-control" data-ng-model="UserModel.Password" data-val="true" data-val-required="The Password field is required." id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" type="password">
                            @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "Password", @placeholder = "Password" })*@
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>Enter your Confirm password </b>
                        </label>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-envelope"></i>
                        Reset
                    </button>
                </footer>
            </form>
            @{ Html.RenderPartial("_SocialMedia"); }
        </div>
    </div>
</div>
@section pagespecific{
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}