﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Backup Demand Print</title>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/style.css">
    <script src="~/Scripts/ngController/ManagePayjs.js"></script>
    <style>
      .mytbls  td{
            border-bottom:1px solid gray;
            border-left:1px solid gray;
        }
    </style>
</head>
<body data-ng-app="ManageApp">
    <div id="ReceiptPritable" data-ng-controller="ManageController">
        <div id="loading">
            <img id="loading-image" src="~/images/loading.gif" alt="Loading..." />
        </div>
        <div data-ng-init="GetBackupReceiptPrintInit()">
            <input type="hidden" id="hidID" name="hidID" value="@ViewBag.ID" />
            <div data-ng-repeat="pr in PrintReceiptList">
                <div style='text-align: center'>
                    <h2></h2>
                    <p><b></b></p>
                    <p></p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h3>RECEIPT: {{pr.PaymentNo}}</h3>
                </div>

                Received with thanks from
                <br />
                <table>
                    <tr>
                        <td>
                            First Allottee:
                        </td>
                        <td>{{pr.CustomerName}} </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{pr.CustomerAddress}}</td>
                    </tr>
                </table>

                Co Allottee(s): &nbsp; {{pr.CoCustomerName}}
                <br />
                <div class="mytbls">
                    <table style="border:2px solid gray; width:100%;">
                        <tr>
                            <td>
                                Property Name:
                            </td>
                            <td>
                                {{pr.FlatName}}
                            </td>
                        </tr>
                        <tr style='border: 1px solid black'>
                            <td>Description</td>
                            <td>{{pr.InstallmentNo}}</td>
                        <tr>

                        <tr>
                            <td>
                                Mode:
                            </td>
                            <td>
                                {{pr.PaymentMode}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Details:
                            </td>
                            <td>
                                {{pr.ChequeNo}} {{pr.BankName}} {{pr.BranchName}}
                            </td>
                        </tr>
                        <tr style='border: 1px solid black'>
                            <td>Amount (Rs)</td>
                            <td>{{pr.Amount}}  </td>
                        </tr>
                        <tr>
                            <td>  </td>
                            <td>{{pr.AmtRcvdinWords}} </td>
                        </tr>
                    </table>
                </div>
                <p>
                    Property at: {{pr.PropertyAddress}} , <b>{{pr.PropertyName}} </b>
                    <br />
                    Location: {{pr.PropertyLocation}}

                </p>
                <table>
                    <tr>
                        <td>
                            <ul>
                                <li>Receipt is valid subject to realisation of cheque.</li>
                            </ul>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <p><b>for {{pr.CompanyName}} </b></p>
                <table>
                    <tr>
                        <td>
                            <b>Authorised Signatury </b>
                            <br />
                            (Prepared By)<br />
                           {{pr.AuthSign}}
                        </td>
                        <td>
                            <p style='text-align: right;'></p>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery-1.7.2.min.js"></script>
    <script src="~/Content/js/jquery-ui-1.8.19.custom.min.js"></script>
    <link href="~/Content/css/jquery-ui-1.8.19.custom.css" rel="stylesheet" />
</body>
</html>
